.row.team[team]
  .large-8.columns
    =team.name
  .large-3.columns
    =team.pounds_since(@begin_date)
  .large-1.columns
    %span.show-details{"data-team" => team.id, :style=>'cursor:pointer;'}
      >
    %span.show-edit{"data-team" => team.id, :style=>'cursor:pointer;'}
      e
  .large-12.columns.details{:style=>'padding:5px; display:none;'}
    =render :partial => 'teams/team_details', :locals => {team: team}
  .large-12.columns.edit{:style=>'padding:5px; display:none;'}
    =render :partial => 'teams/edit', :locals => {team: team}  