.row.team-leaderboard[team]
  .large-2.medium-3.small-2.columns
    %span.right=counter
  .large-3.columns.show-for-large-only
    -#.frame=image_tag('Cinemapolis.png')
    .frame=image_tag('team.png')
  .large-7.medium-9.small-10.columns

    %h5=team.name
    .stat
      %label C02 Offset:
      %p #{number_with_delimiter(team.pounds)} lbs
    .stat
      %label Number Offsets:
      %p=team.count
    .stat
      %label Number Players:
      %p #{team.members}



