$('#msg').html("<h4>Offset Recorded</h4><span>Great, your offset of <b>#{@pounds} lbs</b> has been added to the <b>#{@team.name}</b> teams tally.  Now spin that prize wheel!</span>");
$('#prize-wheel').show();
$('#team-actions').hide();
