.row.topbar
  .large-12.columns{:style => "padding:0px;position:relative;height:450px;"}
    #calculator-buttons
      #home
        =link_to root_path do
          %i.fi-home
      #total-cost
        %i.fi-shopping-cart

      #offset-buttons
        .hide-for-small
          #air-travel-button.air-travel-button.button
            =image_tag('plane.png', :size=>'30x30')
            Air Travel

          #car-travel-button.button.car-travel-button
            =image_tag('car.png', :size=>'30x30')
            Car Travel

          #home-energy-button.home-energy-button.button
            =image_tag('house.png', :size=>'30x30')
            Building Energy
            

          #quick-button.quick-button.button
            =image_tag('quick.png', :size=>'30x30')
            Quick Offset

          #donate-button.donate-button.button
            =image_tag('quick.png', :size=>'30x30')
            Donation


        .hide-for-medium-up
          #air-travel-button.air-travel-button.button.mobile-button
            =image_tag('plane.png', :size=>'30x30')


          #car-travel-button.button.car-travel-button.mobile-button
            =image_tag('car.png', :size=>'30x30')


          #home-energy-button.home-energy-button.button.mobile-button
            =image_tag('house.png', :size=>'30x30')

          #quick-button.quick-button.button.mobile-button.quick-button
            =image_tag('quick.png', :size=>'30x30')
          #donate-button.donate-button.button.mobile-button
            =image_tag('quick.png', :size=>'30x30')

      .arrow_box
        To get started playing the carbon races, please start by offsetting your travel or home energy use.

      #calculator
        #air-travel-offset.offset-form
          .row
            .large-3.medium-6.small-12.columns
              How many travelers?
              %br
              %input.traveler-count{:type=>"number",:min => 1, :value => 1}
            .large-3.medium-6.small-12.columns
              Enter trip mileage
              %br
              %input{:placeholder => "total miles", :id=>"air-miles"}
            .large-3.medium-6.small-12.columns
              Or, let us calculate it for you
              %br
              %input.starting-air-city{:placeholder => "starting location"}
              
            .large-3.medium-6.small-12.columns
              %br
              %input.ending-air-city{:placeholder => "end location"}
          .round-trip
            round trip?
            %input{:checked=>:true,:type => "checkbox"}
          .row
            .large-3.medium-12.small-12.columns
              #calculate-air-offset.custom_btn.custom_btnline
                Calculate Offset
            .large-9.medium-12.small-12.columns{:style=>"margin-top:7px;"}
              Or, send check to Sustainable Tompkins / 309 N Aurora / Ithaca, NY with 'FLCF' in memo line
        #car-travel-offset.offset-form
          .row
            .large-3.medium-6.small-12.columns
              Enter your trip mileage
              %br
              %input{:placeholder => "total miles", :id=>"car-miles"}
            .large-3.medium-6.small-12.columns
              Or, let us calculate it for you:
              %br
              %input.starting-car-city{:placeholder => "starting location"}
            .large-3.medium-6.small-12.columns
              %br
              %input.ending-car-city{:placeholder => "end location"}
            .large-3.medium-6.small-12.columns
              Car mpg (optional)
              %br
              %input{:type=>"number",:value => "25", :id => "mpg"}
          .round-trip
            round trip?
            %input{:checked=>:true,:type => "checkbox"}
          .row
            .large-3.medium-12.small-12.columns
              #calculate-car-offset.custom_btn.custom_btnline
                Calculate Offset
            .large-9.medium-12.small-12.columns{:style=>"margin-top:7px;"}
              Or, send check to Sustainable Tompkins / 309 N Aurora / Ithaca, NY with 'FLCF' in memo line
        #home-energy-offset.offset-form
          Enter your energy use
          .row
            .large-3.medium-6.small-12.columns
              %input.clearable{:id=>"propane",:placeholder => "propane (gallons)"}
            .large-3.medium-6.small-12.columns
              %input.clearable{:id=>"natural-gas",:placeholder => "natural gas (therms)"}
            .large-3.medium-6.small-12.columns
              %input.clearable{:id=>"electricity",:placeholder => "electricity (kWh)"}
            .large-3.medium-6.small-12.columns
              %input.clearable{:id=>"fuel-oil",:placeholder => "fuel oil (gallons)"}
          %br
          .row
            .large-3.medium-12.small-12.columns
              #calculate-home-offset.custom_btn.custom_btnline
                Calculate Offset
            .large-9.medium-12.small-12.columns{:style=>"margin-top:7px;"}
              Or, send check to Sustainable Tompkins / 309 N Aurora / Ithaca, NY with 'FLCF' in memo line
        #quick-offset.offset-form
          =form_with url: '/cart_items', method: :post do |form|
            .row
              .large-6.medium-6.small-12.columns
                %label What To Offset?
                =form.select :offset_type, options_for_select([ "", "home energy", "car travel", "air travel" ], ""), {}, :id => 'offset_type'
              .large-6.medium-6.small-12.columns
                %label For What Period?
                .optgroup
                  =form.select :offset_interval, options_for_select(["month", "quarter", "year" ], "year"), {}, :id => 'offset_interval'
            #save-offset.custom_btn.custom_btnline Add to Cart
        #donate-form.offset-form
          %p Make a Donation
          .donate-buttons
            .donate-link
              =link_to "https://buy.stripe.com/test_eVa9Ep3LN4eU5k4fZ0" do
                %button $25
            .donate-link
              =link_to "https://buy.stripe.com/test_cN2bMx6XZ4eU4g0cMM" do
                %button $50  
            .donate-link
              =link_to "https://buy.stripe.com/test_aEU7whgyz8va3bW8wz" do
                %button $100 
            .donate-link
              =link_to "https://buy.stripe.com/test_3cs17TdmncLq7scfZ2" do
                %button $250 
            .donate-link
              =link_to "https://buy.stripe.com/test_dR617TeqraDicMw9AF" do
                %button $500 
          Or, send check to Sustainable Tompkins / 309 N Aurora / Ithaca, NY with 'FLCF' in memo line     
        #cart
          %h4 Your Cart
          #cart-items

          .row
            .large-3.medium-12.small-12.columns
              #checkout-button.custom_btn.custom_btnline
                Checkout
            .large-9.medium-12.small-12.columns{:style=>"margin-top:7px;"}
              Or, send check to Sustainable Tompkins / 309 N Aurora / Ithaca, NY with 'FLCF' in memo line
