.row.topbar
  .large-12.columns{:style => "padding:0px;position:relative;height:450px;"}
    #calculator-buttons
      #home
        =link_to root_path do
          %i.fi-home
      #total-cost{:style=>'padding:0.3rem;'}
        %i.fi-shopping-cart

      #offset-buttons
        .show-for-large-up
          #air-travel-button.air-travel-button.button
            =image_tag('plane.png', :size=>'28x28')
            Air Travel

          #car-travel-button.button.car-travel-button
            =image_tag('car.png', :size=>'28x28')
            Car Travel

          #home-energy-button.home-energy-button.button
            =image_tag('house.png', :size=>'28x28')
            Building Energy
            

          #quick-button.quick-button.button
            =image_tag('quick.png', :size=>'28x28')
            Quick Offset

        .show-for-medium-only
          #air-travel-button.air-travel-button.button
            =image_tag('plane.png', :size=>'28x28')
            Air

          #car-travel-button.button.car-travel-button
            =image_tag('car.png', :size=>'28x28')
            Car

          #home-energy-button.home-energy-button.button
            =image_tag('house.png', :size=>'28x28')
            Home
            

          #quick-button.quick-button.button
            =image_tag('quick.png', :size=>'28x28')
            Quick


        .show-for-small-only
          #air-travel-button.air-travel-button.button.mobile-button
            =image_tag('plane.png', :size=>'28x28')


          #car-travel-button.button.car-travel-button.mobile-button
            =image_tag('car.png', :size=>'28x28')


          #home-energy-button.home-energy-button.button.mobile-button
            =image_tag('house.png', :size=>'28x28')

          #quick-button.quick-button.button.mobile-button.quick-button
            =image_tag('quick.png', :size=>'28x28')

      .arrow_box
        To get started playing the carbon races, please start by offsetting your travel or home energy use.

      #calculator
        #air-travel-offset.offset-form
          .row
            .large-3.medium-6.small-12.columns
              How many travelers?
              %br
              %input.traveler-count{:type=>"number",:min => 1, :value => 1}
            .large-3.medium-6.small-12.columns{:style=>"margin-bottom:1em"}
              Enter trip mileage
              %br
              %input{:placeholder => "total miles", :id=>"air-miles"}
            .large-3.medium-6.small-12.columns
              Or, let us calculate it
              %br
              %input.starting-air-city{:placeholder => "starting location"}
              
            .large-3.medium-6.small-12.columns
              %br
              %input.ending-air-city{:placeholder => "end location"}
          .round-trip
            round trip?
            %input{:checked=>:true,:type => "checkbox"}
          .row
            .large-4.medium-4.small-12.columns
              #calculate-air-offset.custom_btn.custom_btnline
                Calculate Offset
              #cookie-info
            .large-8.medium-8.small-12.columns{:style=>"margin-top:7px;"}
              Or, send check to Sustainable Finger Lakes / 309 N Aurora / Ithaca, NY 14850 with 'FLCF' in memo line
        #car-travel-offset.offset-form
          .row
            .large-4.medium-4.small-12.columns{:style=>"margin-bottom:5px"}
              Enter your trip mileage
              %br
              %input{:placeholder => "total miles", :id=>"car-miles"}
              %div{:style=>"margin-top:1em"}
                Car mpg (optional)
                %br
                %input{:type=>"number",:value => "25", :id => "mpg"}
            .large-4.medium-4.small-12.columns
              Or, let us calculate it
              %br
              %input.starting-car-city{:placeholder => "starting location"}
            .large-4.medium-4.small-12.columns{:style=>"margin-bottom:1em"}
              %br
              %input.ending-car-city{:placeholder => "end location"}

          .round-trip
            round trip?
            %input{:checked=>:true,:type => "checkbox"}
          .row
            .large-4.medium-4.small-12.columns
              #calculate-car-offset.custom_btn.custom_btnline
                Calculate Offset
            .large-8.medium-8.small-12.columns
              Or, send check to Sustainable Finger Lakes / 309 N Aurora / Ithaca, NY 14850 with 'FLCF' in memo line
        #home-energy-offset.offset-form
          Enter your energy use
          .row
            .large-3.medium-6.small-12.columns
              %input.clearable{:id=>"propane",:placeholder => "propane (gallons)"}
            .large-3.medium-6.small-12.columns
              %input.clearable{:id=>"natural-gas",:placeholder => "natural gas (therms)"}
            .large-3.medium-6.small-12.columns
              %input.clearable{:id=>"electricity",:placeholder => "electricity (kWh)"}
            .large-3.medium-6.small-12.columns
              %input.clearable{:id=>"fuel-oil",:placeholder => "fuel oil (gallons)"}
          %br
          .row
            .large-4.medium-4.small-12.columns
              #calculate-home-offset.custom_btn.custom_btnline
                Calculate Offset
            .large-8.medium-8.small-12.columns
              Or, send check to Sustainable Finger Lakes / 309 N Aurora / Ithaca, NY 14850 with 'FLCF' in memo line
        #quick-offset.offset-form
          =form_with url: '/cart_items', method: :post do |form|
            .row
              .large-6.medium-6.small-12.columns
                What To Offset?
                =form.select :offset_type, options_for_select([ "", "home energy", "car travel", "air travel" ], ""), {}, :id => 'offset_type'
              .large-6.medium-6.small-12.columns
                For What Period?
                .optgroup
                  =form.select :offset_interval, options_for_select(["month", "quarter", "year" ], "year"), {}, :id => 'offset_interval'
            #save-offset.custom_btn.custom_btnline Add to Cart   
        #cart
          .row
            .large-12.columns
              %h4 Your Cart
              #cart-items

              .row
                .large-3.medium-12.small-12.columns
                  #checkout-button.custom_btn.custom_btnline
                    Checkout
                .large-9.medium-12.small-12.columns{:style=>"margin-top:7px;"}
                  Or, send check to Sustainable Finger Lakes / 309 N Aurora / Ithaca, NY 14850 with 'FLCF' in memo line