.row
    #app.large-12.columns{:data => {:session_id => "#{@flcf_cookie}"}}
        -if @app_mode == 'calculator'
            =render :partial => 'spa/calculator'
        -elsif @app_mode == 'carbon races'
            =render :partial => 'spa/carbon_races'
        -else
            %h3 Sorry, something went wrong.  Please check for email receipt to confirm transaction was successful