.row
    #app.large-12.columns
        -if @app_mode == 'calculator'
            =render :partial => 'spa/calculator'
        -elsif @app_mode == 'prize wheel'
            =render :partial => 'spa/prize_wheel'
        -elsif @app_mode == 'carbon races'
            =render :partial => 'spa/carbon_races'