%h3 offset log
%div{:class=>"offset offset-#{offset.id}"}
  .offset-name=offset.title

  %div{:style=>"clear:both;"}
    =offset.name
    %br
    =offset.zipcode
    %br
    =offset.created_at.strftime('%m/%d')
