%div{:style=>"margin: 10px; padding: 7px; background-color:#eee"}
  .offset-name=offset.title

  %div{:style=>"clear:both;"}
    =offset.name
    %br
    =offset.zipcode
    %br
    =offset.created_at.strftime('%m/%d')
