.offset[offset]
  .large-4.medium-4.small-6.columns
    =offset.title || '--'
    =link_to 'x', offset_path(offset), :remote=>:true, :method=>:delete, :data => {:confirm=>'you sure?'}
  .large-3.medium-3.small-6.columns
    -if (offset.email && offset.email.length > 1)
      =offset.email
    -else
      no email
  .large-2.medium-2.small-6.columns
    =offset.pounds || '--'
  .large-2.medium-2.small-6.columns
    =offset.cost || '--'
  .large-1.medium-1.small-6.columns
    =offset.created_at.strftime('%m/%d/%y') || '--'
  .large-12.columns
    -unless offset.individual_id.present? || offset.team_id.present?

      .show-individual-form add as individual player
      .add-to-individual
        =form_for :individual, :url => add_to_individuals_path, :method => :post, :remote => :true do |f|
          %label player email
          =f.text_field :email
          %br
          %label player public name
          =f.text_field :name
          =f.hidden_field :pounds, :value=>offset.pounds
          =f.hidden_field :offset_id, :value=>offset.id
          %br
          =f.submit 'add as individual', :class => 'button small'
