.offset[offset]
  %div{:style=>"clear:both;margin: 10px; padding: 7px; background-color:#eee"}
    %label name
    =offset.name
    %br
    %label email
    =offset.email
    %br
    %label zipcode
    =offset.zipcode
    %br
    %label date
    =offset.created_at.strftime('%m/%d/%y')
    %br
    %label price
    =offset.cost
    %br
    %label pounds CO2
    =offset.pounds
    %br
    %label type
    =offset.title
    -unless offset.individual_id.present? || offset.team_id.present?

      .show-individual-form add as individual player
      .add-to-individual
        =form_for :individual, :url => add_to_individuals_path, :method => :post, :remote => :true do |f|
          %label player email
          =f.text_field :email
          %br
          %label player public name
          =f.text_field :name
          =f.hidden_field :pounds, :value=>offset.pounds
          =f.hidden_field :offset_id, :value=>offset.id
          %br
          =f.submit 'add as individual', :class => 'button small'
