%div{:class=>"offset offset-#{offset.id}"}
  .name=offset.title

  .delete
    =link_to offset_path(offset), :method=>:delete, :remote=>:true do
      %i.fi-trash
  %div{:style=>"clear:both;"}
  .dollar $
  .cost #{offset.cost}
  .weight #{offset.pounds}lbs
