$('#donate').hide();
$('#checkout-donate').show();
$('.donate-input').hide();
$('#donate-msg').html("You are offsetting #{@pounds} lbs of carbon.  Please hit 'Pay Now' button to complete the purchase")
