.offsetter[offsetter]
  =image_tag("#{offsetter.avatar.url(:square).gsub('http','https')}", :class=>'img-circle')
  %label=best_in_place offsetter, :name
  %span=best_in_place offsetter, :description
  %br
  =link_to 'delete this', offsetter,  method: :delete, remote: :true, data: { confirm: 'Are you sure?' }
