%hr
%p<
  Offset your carbon use locally at &nbsp;
  =link_to 'FingerLakesClimateFund.org', 'https://fingerlakesclimatefund.org'
%p<
  Connect with us on &nbsp;
  =link_to 'Facebook', 'https://www.facebook.com/climatefund/'
