.row.hide-for-small
  .large-12.columns{:style=>"background-color: #006893;padding: 0px;margin-bottom:7px;"}
    .horizontal-menu.wide
      =link_to "How Offsets Help Others", "/pages/portfolio"

    .horizontal-menu.narrow
      =link_to "Carbon Races", "/pages/carbon-races"
    .horizontal-menu.wide
      =link_to "Business and Event Offsets", "/pages/business-events-offsets"
    .horizontal-menu.wide
      =link_to "Reduce Your Emissions", "/pages/reduce-emissions"
    .horizontal-menu.narrow
      =link_to "FAQ", "/pages/faq"
    .horizontal-menu.narrow
      =link_to "About Us", "/pages/about-us", :class => 'show-for-medium-up'
    .horizontal-menu.wide
      =link_to "Make Donation", '#', :id=>'donate-button',:class=>'donate-button'
