%h4 Add a new page
=form_for :page, :url=> :pages, :method => :post, :remote=>:true, :html=>{} do |f|
  =f.label :title
  =f.text_field :title
  =f.text_area :body, :id=>'new-page-form'

  =f.submit 'save', :class=>'save'
#save-notice