.row
  .large-12.columns{:style=>'padding-top: 12px;'}
    %h3 About Us
    %h5 Our Mission
    %p The Finger Lakes Climate Fund works to promote energy efficiency projects in the Finger Lakes area while strengthening our regional economy and assisting local families in need.

    %p Carbon offset donations are used for grants to fund energy efficiency projects that would not otherwise be possible in low to moderate income households in the Finger Lakes region. These grants help pay for insulation, air sealing, energy efficient heating equipment, and other upgrades to reduce energy use and greenhouse gas emissions. The Finger Lakes Climate Fund is also investigating other cost-effective local carbon offset projects such as solar hot water, solar photovoltaic, biomass heating, and other renewable energy projects.

    %p The Finger Lakes Climate Fund is a way for people to support our community while offsetting their home, plane, or vehicle pollution.

    %p The Finger Lakes Climate Fund offers carbon offsets for individuals businesses, non-profits, academic institutions, and special events. For more information on purchasing carbon offsets for your organization or special event please contact us at info@sustainabletompkins.org or 607-272-1720.

    %h5 Sponsors & Partners
    %b Program Administrator
    %p<
      The Finger Lakes Climate Fund is a project of
      =link_to "Sustainable Finger Lakes ","http://sustainabletompkins.org"
      a sustainability focused non-profit organization based in Ithaca, NY. The Finger Lakes Climate Fund is administered by Sustainable Finger Lakes’ staff and directors. Social Ventures, Inc. serves as Sustainable Finger Lakes’ 501(c)3 non-profit sponsor.

    %b Sponsors
    %p We are grateful for the continuing support of the Finger Lakes Climate Fund from the Park Foundation. It was their generosity that made it possible for us to build the carbon offset calculator, launch the Climate Fund and make our first grant.

    %p<
      We’d also like to thank Bruce Lane, the Lane Family Fund of the Community Foundation of Tompkins County, and Purity Ice Cream for their generous gifts and offsets to the Climate Fund for the past several years. In addition, a $4000 check from a Carrot Mob organized by the Ithaca College Collective Impact fund and Purity Ice Cream gave us the resources we need to continue to promote the Climate Fund, find new users and make it possible for us to make several additional grants going forward. here’s the link to the
      =link_to " news story…", "http://sustainabletompkins.org/st-events/purity-ice-cream-and-ics-net-impact-club-donate-4000-to-finger-lakes-climate-fund/"

    %p<
      We’re also grateful to the Sustainable Newfield Fund for their extraordinary gift to increase our Climate Fund grants in their community. Started by one donor who wanted to help her fracktivist neighbors get off of fossil fuels, she set up a fund with the Community Foundation where neighbors and acquaintances can make their offsets and direct the grants to other neighbors through the Finger Lakes Climate Fund. (
      =link_to " here’s the press release for this one", "http://sustainabletompkins.org/st-events/new-grant-fund-for-newfield-residents-announced/"
      )
    %h5 Partners
    %p You can partner with the Finger Lakes Climate Fund as did the the Temple Beth El Green Team who have committed to raise one Climate Fund grant ($2000) from offsets from their Congregation; Center for A New American Dream Board–whose members offset their travel to their board retreat in California with the Finger Lakes Climate Fund; Tompkins County Chamber of Commerce Travel program who encourage all of the travelers in this program to offset their trips using the Climate Fund; the Congregation of Tikkun V’or who adopted the Finger Lakes Climate Fund as a Hannukah project and the upcoming Upstate NY Quaker Conference who have chosen the Finger Lakes Climate Fund to offset their car travel to their annual meeting.

    %h5 Media Center

    Local Carbon Fund Supported by Cornell Conference
    Lansing Star – May 26, 2011
    %hr
    Energy security and climate protection are interwoven global issues with highly local solutions according to local nonprofit Sustainable Finger Lakes.
    =link_to "Read More", "http://sustainabletompkins.org/st-events/purity-ice-cream-and-ics-net-impact-club-donate-4000-to-finger-lakes-climate-fund/"
    %hr
    Partnerships drive Power of Climate Initiative
    Press Connects – May 5, 2011
    by Gary Stewart
    Finger Lakes Climate Fund noted as key partner in Tompkins County Climate Protection Initiative.
    =link_to "Read More", "http://www.pressconnects.com/article/20110506/VIEWPOINTS02/105060303/Partnerships-drive-power-climate-initiative/"
    %hr
    Gay Nicholson gives a radio interview about launching
    the Finger Lakes Climate Fund
    %br
    =link_to "listen to the audio", "http://fingerlakesclimatefund.org/wp-content/uploads/2010/02/GN-Interview-2-9-10.mp3"
    %hr
    Tompkins urges travelers to go ‘green’
    Program rewards residents for cutting carbon emissions
    =link_to "Read More", "http://sustainabletompkins.org/st-in-news/sustainable-tompkins-urges-travelers-to-go-green/"
    %hr
    Climate Fund Launched
    Tompkins Weekly – May 3, 2010
    By Kitty Gifford
    %hr
    Businesses, organizations, schools and individuals are able to offset their carbon emissions by purchasing carbon offsets from the newly created Finger Lakes Climate Fund.
    =link_to "Read More", "http://sustainabletompkins.org/signs-of-sustainability/tompkins-weekly-column/climate-fund-launched/"
    %hr
