.row
  .large-12.columns
    #content
      %label password
      =text_field_tag :pwd, '',:id=>'pwd-text'
      =submit_tag 'submit', :id=>'pwd'

:javascript
  $('#pwd').on('click',function() {
    console.log($('#pwd-text').val());
    if($('#pwd-text').val() == '309NAurora') {
      $('#content').html("#{j render :partial=>'admin_content'}")
    }
  });
