.row{:style=>"margin-top: 80px;"}
  .large-2.columns{:style=>"padding: 4px; background-color: #eee;"}
    %h3 Admin
    %ul.admin-menu
      %li.menu-option{"data-option" => "main"} Home
      %li.menu-option{"data-option" => "offsets"} Offsets
      %li.menu-option{"data-option" => "prizes"} Prizes
      %li.menu-option{"data-option" => "races"} Races
  .large-10.columns#content-area
    =render :partial => 'admin/main'
:javascript
  $('.menu-option').on('click', function() {
    switch(this.getAttribute('data-option')) {
      case 'main':
        $('#content-area').html("#{j render :partial => 'admin/main'}")
        break;
      case 'prizes':
        $('#content-area').html("#{j render :partial => 'admin/prizes'}")
        break;
      case 'races':
        $('#content-area').html("#{j render :partial => 'admin/races'}")
        break;
      case 'offsets':
        $('#content-area').html("#{j render :partial => 'admin/offsets'}")
        break;    
    }
    
  });

  $(document).ready(function() {
    /* Activating Best In Place */
    jQuery(".best_in_place").best_in_place();
  });
