.row{:style=>'padding:0px;'}
  .large-12.columns{:style=>'padding:0px;'}
    %h3 Business And Special Event Offsets
    %p The Finger Lakes Climate Fund also offers carbon offsets for businesses, non-profits, academic institutions, and special events. For more information on purchasing carbon offsets for your organization or special event please contact us at info@fingerlakesclimatefund.org or 607-216-1552.
    %hr
    %h4 A few examples...
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "360", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/57084793", :webkitallowfullscreen => "", :width => "640"}
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "352", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/54554637", :webkitallowfullscreen => "", :width => "640"}
