.row{:style=>'margin-top: 45px;'}
  #carbon-races-heading.large-12.columns{:style=>'padding:0px;'}


=render :partial => 'shared/menu_bar'
.row{:style=>'margin-top: 15px'}
  .large-6.medium-6.columns
    %h3.purple-text What are Carbon Races?
    %p
    %hr
    #create-team
      %h4.purple-text Create a  Team
      %p Anyone can make a team for their organization and invite others to join it
      =form_for :team, :url=>teams_path, :remote=>:true, :html=> {:id=>'new-team'} do |f|
        %label Team Name
        =f.text_field :name
        %label How Many Team Members
        =f.number_field :members, :value => '', :min=>2
        %br
        =f.submit 'Create Team', :class=>'button purple'
    #msg
    -##join-team
      -#%h4 Join a  Team
      -#%p Are others in your organization already playing?  Join them!
      -#=select_tag :team, options_from_collection_for_select(@teams, 'id', 'name'), id: 'select-team', prompt: 'Select a team to join'


  .large-6.medium-6.columns.purple-section
    %h3 Team Leaderboard
    .row.leader#leaders{:style=>'margin: 0px; padding: 0px;'}
      -count = 1
      -@leaders.each do |t|
        =render :partial => 'teams/team_leaderboard', :locals=>{counter: count, team: t}
        -count = count + 1
    %h3 Individual Leaderboard
    .row.leader#leaders{:style=>'margin: 0px; padding: 0px;'}
      -count = 1
      -@individual_leaders.each do |t|
        =render :partial => 'individuals/leaderboard', :locals=>{counter: count, team: t}
        -count = count + 1

:javascript

  var url = window.location.href, idx = url.indexOf("#")
  var hash = idx != -1 ? url.substring(idx+1) : "";
  if(hash=='join') {
    $('html, body').animate({
        scrollTop: $("#"+hash).offset().top + 300
    }, 2000);
  }
