.row
  .large-12.columns{:style=>'padding-top: 12px;'}
    %h3 FAQ
    .faq-nav
      %a{:href => "#FAQ1"} What are carbon offsets?
      %a{:href => "#FAQ2"} How does the Finger Lakes Climate Fund Work?
      %a{:href => "#FAQ3"} What does offsetting one ton of carbon emissions mean in everyday terms?
      %a{:href => "#FAQ4"} How are the projects chosen?
      %a{:href => "#FAQ5"} What are the advantages of local carbon offset projects?
      %a{:href => "#FAQ6"} Shouldn’t we reduce our emissions before buying carbon offsets?

    %p
      %span.subhead
        %a{:name => "FAQ1"}>
        What are carbon offsets?
      %br/
      Carbon offsets allow people to “cancel out” the carbon emissions associated with their lifestyles. The energy we use in our homes, the fuel we burn in our cars, and the pollution that comes from the airplanes we travel in all generate greenhouse gas emissions that contribute to climate change. By purchasing carbon offsets you are investing money in an energy efficiency project and helping to reduce carbon emissions.
    %p A carbon offset represents a reduction of one ton of carbon dioxide equivalent. This means that for every offset you purchase, one ton of carbon dioxide emissions will be reduced on your behalf from a local energy efficiency project.
    %p What sets the Finger Lakes Climate Fund apart from other organizations offering carbon offsets is that we focus on local projects in the Finger Lakes region, ensuring that your money goes to work here in our own community. Also, by focusing on making low to moderate income households more energy efficient, our offset projects contribute to our local economy and support local families that need help.
    %p
      %span.subhead
        %a{:name => "FAQ2"}>
        How does the Finger Lakes Climate Fund Work?
      %br/
      You can donate to the Finger Lakes Climate Fund in order to offset the carbon emissions associated with your home energy use, vehicle travel, or airplane travel. The money you donate contributes to reducing carbon emissions through a local energy efficiency project that would not otherwise be possible, therefore offsetting, or cancelling out, your carbon emissions.
    %p Donations to the Finger Lakes Climate Fund are used for grants to pay for energy efficiency projects in low to moderate income households in the Finger Lakes region. These grants help pay for insulation, air sealing, energy efficient heating equipment, and other upgrades to reduce energy use and greenhouse gas emissions.
    %p The energy efficiency upgrades are carried out by Building Performance Institute accredited contractors. Using guidelines provided by the New York State Energy Research and Development Authority, the contractors follow a strict protocol for accurately estimating the energy savings that will result from the energy renovations. The energy saving estimates for the projects are also verified by a third party organization that makes sure the carbon reduction calculations are accurate. This ensures that your carbon offset donations are resulting in actual greenhouse gas emission reductions.
    %p Of course, the first step is to try to minimize your personal emissions first by using less energy at home, driving less, and traveling fewer miles by plane. For more information on reducing your personal greenhouse gas emissions please visit the Reduce Your Emissions webpage.
    %p
      %span.subhead
        %a{:name => "FAQ3"}>
        What does offsetting one ton of carbon emissions mean in everyday terms?
      %br/
      Offsetting one ton of carbon emissions is equivalent to saving 102 gallons of gas, planting 23 trees, taking an average car off the road for two months, or powering an average home for one month. For more information on finding the equivalent of your carbon offset, visit the EPA’s online
      %a{:href => "http://www.epa.gov/cleanrgy/energy-resources/calculator.html", :target => "_blank"} Greenhouse Gas Equivalencies Calculator.
    %p
      %span.subhead
        %a{:name => "FAQ4"}>
        How are the projects chosen?
      %br/
      %a{:href => "http://www.sustainabletompkins.org", :target => "_blank", :title => "Sustainable Finger Lakes"} Sustainable Finger Lakes
      has an advisory committee to assist with approving offset projects that are funded through the Finger Lakes Climate Fund. NYSERDA Certified Energy contractors in our area are periodically invited to submit proposals for modest income families they are working with where a grant from the Climate Fund would add significant value to the projects The projects are vetted by the advisory committee and are approved by the Sustainable Finger Lakes Board of Directors. The projects must result in actual carbon reductions greater than or equal to the amount of the grant. Our goals for the projects are to reduce carbon emissions, help local families who need assistance, and strengthen our local economy.
    %p
      %span.subhead
        %a{:name => "FAQ5"}>
        What are the advantages of local carbon offset projects?
      %br/
      Local carbon offsets allow you to see the results of your purchase right here in our community. Local offsets also help support the local economy by generating work for energy efficiency businesses. The Finger Lakes Climate Fund’s unique focus on low to moderate income households also has the benefit of helping people in our community who really need it. Other carbon offset suppliers don’t offer these kinds of local benefits that you’ll find with the Finger Lakes Climate Fund.

:css
  .subhead {
  font-size: 1.2em;
  }
