=content_for :head do
  %meta{:content => "Finger Lakes Climate Fund", :property => "og:title"}
  %meta{:content => "http://fingerlakesclimatefund.org", :property => "og:url"}
  %meta{:content => "Offset your carbon locally in the finger lakes", :property => "og:description"}
.row#your-impact
  .large-12.columns
    %h5 Our Impact

  .large-3.medium-3.columns.impact

    %span 3,999,999
    %label lbs C02 offset
  .large-3.medium-3.columns.impact

    %span 3,999,999
    %label lbs C02 offset
  .large-3.medium-3.columns.impact

    %span 3,999,999
    %label lbs C02 offset
  .large-3.medium-3.columns.impact

    %span 3,999,999
    %label lbs C02 offset
.row#seal-the-cracks{:style=>"padding:0px;"}
  .large-8.columns{:style=>'padding-top: 15px;'}
    %h4 Help us
    .cracks-logo=image_tag('seal-the-cracks-logo-1100.png')
    %h5 October 1 through November 30
    .row#cracks-impacts
      .large-6.columns{:style=>'text-align:right; font-size: 1.5em;line-height: 1.1em;'}
        Your offsets during our annual drive will
      .large-6.columns{:style=>'text-align:left; '}
        %ul
          %li Help others in need
          %li Support local green jobs
          %li Help protect the climate
          %li Strengthen our local economy
  .large-4.columns


%section.main-section
  .row{:style => "background-color: #fff"}
    .large-12.columns
      -if alert
        .alert-box.success.radius{"data-alert" => ""}
          =alert
          %a.close{:href => "#"} &times;
      -if notice
        .alert-box.success.radius{"data-alert" => ""}
          =notice
          %a.close{:href => "#"} &times;
  .row
    .large-12.columns{:style => "background-color: #851cb7; padding: 0px;"}
      .heading-text carbon races
    .large-12.columns{:style=>'height:300px;'}
      -#%a.twitter-share-button{"data-count" => "none", "data-hashtags" => "fingerlakes", "data-text" => "Offset your carbon locally", "data-url" => "http://fingerlakesclimatefund.org", "data-via" => "FingerLakesClimateFund", :href => "https://twitter.com/share"} Tweet
      -#.fb-like{"data-share" => "true", "data-show-faces" => "true", "data-width" => "300"}

