.row
  .large-12.columns
    %h3 Offset your carbon > Help locals families > Protect the climate
.row
  .large-4.columns
    =render :partial => 'layouts/calculator'
  .large-4.columns
    %img{:src => "http://placehold.it/400x300&text=[img]"}/
    %h4 How it works
    %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.
  .large-4.columns
    %img{:src => "http://placehold.it/400x300&text=[img]"}/
    %h4 Testimonials
    %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.
.row
  .large-12.columns
    .panel
      %h4 Get in touch!
      .row
        .large-9.columns
          %p We'd love to hear from you, you attractive person you.
        .large-3.columns
          %a.radius.button.right{:href => "#"} Contact Us
