=content_for :head do
  %meta{:content => "Finger Lakes Climate Fund", :property => "og:title"}
  %meta{:content => "http://fingerlakesclimatefund.org", :property => "og:url"}
  %meta{:content => "Offset your carbon locally in the finger lakes", :property => "og:description"}
.row#overview
  .large-4.medium-4.columns
    animation goes here
  .large-4.medium-4.columns
    %h3 Recent Offset Donors
    =image_tag('recent-awardee.jpg', :class=>'img-circle')
    %label The Paw Family
    %span We offset our 9 hot tubs and backyard air-conditioner and now our conscience is completely free!
    .more.show-calc=link_to 'Offset your carbon use', "#"
  .large-4.medium-4.columns
    %h3 Recent Grant Awardees
    =image_tag('recent-awardee.jpg', :class=>'img-circle')
    %label The Paw Family
    %span Grant Amount: $1,224
    %br
    %span C02 Offset: 122,440lbs
    .more=link_to 'Find out more!', pages_path('portfolio')
.row#your-impact
  .large-12.columns
    %h5 Our Impact

  .large-3.medium-3.columns.impact

    %span 3,999,999
    %label lbs C02 offset
  .large-3.medium-3.columns.impact

    %span 173,565
    %label gallons gas avoided
  .large-3.medium-3.columns.impact

    %span $33,092
    %label in offsets raised
  .large-3.medium-3.columns.impact

    %span 18
    %label grants awarded
.row#seal-the-cracks{:style=>"padding:0px;"}
  .large-8.medium-8.columns{:style=>'padding-top: 15px;'}
    %h4 Help us
    .cracks-logo=image_tag('seal-the-cracks-logo-1100.png')
    %h5 October 1 through November 30
    .row#cracks-impacts
      .large-6.medium-6.columns{:style=>'text-align:right; font-size: 1.5em;line-height: 1.1em;'}
        Your offsets during our annual drive will
      .large-6.medium-6.columns{:style=>'text-align:left; '}
        %ul
          %li Help others in need
          %li Support local green jobs
          %li Help protect the climate
          %li Strengthen our local economy
  .large-4.medium-4.columns.show-for-medium-up
    #graph.chart{"data-percent" => "50"}
      %span hey
.row.purple-section
  .large-12.columns{:style=>'text-align:center;background-color: #8012b3'}
    %h3.heading-text Carbon Races
  .large-6.medium-6.columns{:style=>'padding:10px 25px 0 10px;'}
    %h4.right Monthly Leaders By Tonnage
    %hr
    .row.leader{:style=>'margin: 0px; padding: 0px;'}
      .large-2.medium-3.columns
        %span.right 1
      .large-3.columns.show-for-large-only
        .frame=image_tag('Cinemapolis.png')
      .large-7.medium-9.columns

        %h5 Fall Creek Brass Band
        .stat
          %label C02 Offset:
          %p 523 lbs
        .stat
          %label Number Offsets:
          %p 33
        .stat
          %label Number Players:
          %p 15

  .large-6.medium-6.columns{:style=>'padding:10px 10px 0 25px;'}
    %h4.left Monthly Leaders By Participation
    %hr
.row.yellow-section
  .large-12.columns{:style=>'text-align:center;background-color: #dca600;'}
    %h3.heading-text Win Prizes
  .large-6.medium-6.columns{:style=>'padding:10px 25px 0 10px;'}
    %h4.right Recently Claimed Prizes
    %hr
    =render @recent_prizes
  .large-6.medium-6.columns{:style=>'padding:10px 25px 0 10px;'}
    %h4.left Available Prizes
    %hr
    =render @prizes
%section.main-section
  .row{:style => "background-color: #fff"}
    .large-12.columns
      -if alert
        .alert-box.success.radius{"data-alert" => ""}
          =alert
          %a.close{:href => "#"} &times;
      -if notice
        .alert-box.success.radius{"data-alert" => ""}
          =notice
          %a.close{:href => "#"} &times;
  -#.row
    -#.large-12.columns{:style => "background-color: #851cb7; padding: 0px;"}
      -#.heading-text carbon races
    -#.large-12.columns{:style=>'height:300px;'}
      -#%a.twitter-share-button{"data-count" => "none", "data-hashtags" => "fingerlakes", "data-text" => "Offset your carbon locally", "data-url" => "http://fingerlakesclimatefund.org", "data-via" => "FingerLakesClimateFund", :href => "https://twitter.com/share"} Tweet
      -#.fb-like{"data-share" => "true", "data-show-faces" => "true", "data-width" => "300"}
:javascript

  var el = document.getElementById('graph'); // get canvas

  var options = {
      percent:  el.getAttribute('data-percent') || 25,
      size: el.getAttribute('data-size') || 220,
      lineWidth: el.getAttribute('data-line') || 20,
      rotate: el.getAttribute('data-rotate') || 0
  }

  var canvas = document.createElement('canvas');
  var span = document.createElement('span');
  span.textContent = options.percent + '%';

  if (typeof(G_vmlCanvasManager) !== 'undefined') {
      G_vmlCanvasManager.initElement(canvas);
  }

  var ctx = canvas.getContext('2d');
  canvas.width = canvas.height = options.size;

  el.appendChild(canvas);

  ctx.translate(options.size / 2, options.size / 2); // change center
  ctx.rotate((-1 / 2 + options.rotate / 180) * Math.PI); // rotate -90 deg

  //imd = ctx.getImageData(0, 0, 240, 240);
  var radius = (options.size - options.lineWidth) / 2;

  var drawCircle = function(color, lineWidth, percent) {
      percent = Math.min(Math.max(0, percent || 1), 1);
      ctx.beginPath();
      ctx.arc(0, 0, radius, 0, Math.PI * 2 * percent, false);
      ctx.strokeStyle = color;
          ctx.lineCap = 'round'; // butt, round or square
      ctx.lineWidth = lineWidth
      ctx.stroke();
  };

  drawCircle('#efefef', options.lineWidth, 100 / 100);
  drawCircle('#5b922f', options.lineWidth, options.percent / 100);
