=content_for :main_section do
  %h4 The Finger Lakes Climate Fund
  .row
    .large-6.columns
      %h5 #1 Calculate your emissions
      %p Use our calculator to estimate your home energy, vehicle, and airplane travel emissions.
      .down-arrow{:style=>"font-size: 50px;text-align:center;"}
        %i.fi-arrow-down
    .large-6.columns{:style=>"margin-bottom: 10px;"}
      %img{:src => "http://placehold.it/300x200&text=[img]"}/
    .large-6.columns
      %h5 #2 Purchase carbon offsets
      %p Use our calculator to estimate your home energy, vehicle, and airplane travel emissions.
      .down-arrow{:style=>"font-size: 50px;text-align:center;"}
        %i.fi-arrow-down

    .large-6.columns{:style=>"margin-bottom: 10px;"}
      %img{:src => "http://placehold.it/300x200&text=[img]"}/
    .large-6.columns
      %h5 #3 Put offsets to work locally
      %p Use our calculator to estimate your home energy, vehicle, and airplane travel emissions.
    .large-6.columns
      %img{:src => "http://placehold.it/300x200&text=[img]"}/
  .row{:style=>"margin-top: 20px;"}
    .large-6.small-12.columns
      %h4 Business & Event Offsets
      %p The Finger Lakes Climate Fund also offers carbon offsets for businesses, non-profits, academic institutions, and special events. For more information on purchasing carbon offsets for your organization or special event please contact us at info@fingerlakesclimatefund.org or 607-216-1552.
    .large-6.small-12.columns
      %h4 Testimonials
      %p Lorem ipsum

