.row
  .large-12.columns
    %h3 Offset your carbon > Help locals families > Protect the climate
.row
  .large-4.medium-5.columns
    =render :partial => 'layouts/calculator'
    #recent-offsets
      =render :partial => "offsets/recent_offset", :collection => @offsets, :as => :offset
  .large-8.medium-7.columns
    %h4 How it works
    %h5 #1 Calculate your emissions
    %img{:src => "http://placehold.it/300x200&text=[img]"}/
    %p Use our calculator to estimate your home energy, vehicle, and airplane travel emissions.
    %h5 #2 Purchase carbon offsets
    %img{:src => "http://placehold.it/300x200&text=[img]"}/
    %p Use our calculator to estimate your home energy, vehicle, and airplane travel emissions.


.row
  .large-6.small-12.columns
    %h4 Business & Event Offsets
    %p The Finger Lakes Climate Fund also offers carbon offsets for businesses, non-profits, academic institutions, and special events. For more information on purchasing carbon offsets for your organization or special event please contact us at info@fingerlakesclimatefund.org or 607-216-1552.
  .large-6.small-12.columns
    %h4 Testimonials
    %p The Finger Lakes Climate Fund also offers carbon offsets for businesses, non-profits, academic institutions, and special events. For more information on purchasing carbon offsets for your organization or special event please contact us at info@fingerlakesclimatefund.org or 607-216-1552.

.row

  .large-12.columns
    .panel
      %h4 Get in touch!
      .row
        .large-9.columns
          %p Comments, questions, problems or ideas?  Send us an email!
        .large-3.columns
          %a.radius.button.right{:href => "#"} Contact Us
