=content_for :head do
  %meta{:content => "Finger Lakes Climate Fund", :property => "og:title"}
  %meta{:content => "http://fingerlakesclimatefund.org", :property => "og:url"}
  %meta{:content => "Offset your carbon locally in the finger lakes", :property => "og:description"}

=content_for :main_section do
  %h4 The Finger Lakes Climate Fund
  .row
    .large-7.columns
      %h5 #1 Calculate your emissions
      %p Use our calculator to estimate your home energy, vehicle, and airplane travel emissions.
      .down-arrow{:style=>"font-size: 50px;text-align:center;"}
        %i.fi-arrow-down
    .large-5.columns{:style=>"margin-bottom: 10px;"}
      =image_tag('step-1.jpg')
    .large-7.columns
      %h5 #2 Purchase carbon offsets
      %p Use our calculator to estimate your home energy, vehicle, and airplane travel emissions.
      .down-arrow{:style=>"font-size: 50px;text-align:center;"}
        %i.fi-arrow-down

    .large-5.columns{:style=>"margin-bottom: 10px;"}
      =image_tag('step-2.jpg')
    .large-7.columns
      %h5 #3 Put offsets to work locally
      %p Use our calculator to estimate your home energy, vehicle, and airplane travel emissions.
    .large-5.columns
      =image_tag('step-3.jpg')
  .row{:style=>"margin-top: 20px;"}
    .large-7.small-12.columns
      %h5 Testimonials
      .cycle-slideshow
        =image_tag('testimonial_1.gif')
        =image_tag('testimonial_2.jpg')
        =image_tag('testimonial_3.jpg')


    .large-5.small-12.columns
      %h5 Business & Event Offsets
      %p The Finger Lakes Climate Fund also offers carbon offsets for businesses, non-profits, academic institutions, and special events. For more information on purchasing carbon offsets for your organization or special event please contact us at info@fingerlakesclimatefund.org or 607-216-1552.




