%h3
  %p
  %span.subhead Residential Energy Efficiency
%p The Finger Lakes Climate Fund will initially fund residential energy efficiency projects for low to moderate income households in the Finger Lakes region. The fund will help pay for insulation, air sealing, energy efficient heating equipment, and other upgrades to reduce energy use and greenhouse gas emissions. The energy efficiency upgrades are carried out by Building Performance Institute accredited contractors using guidelines provided by the New York State Energy Research and Development Authority. These home energy efficiency projects reduce greenhouse gas emissions, support low income families, and help stimulate our local economy.
%p
  %span.subhead Project Verification Process
%p Verification ensures that carbon offset projects accurately calculate the amount of emissions that will be reduced as a result of the project. Through the Home Performance with Energy Star program, the residential energy efficiency projects follow industry best practices for estimating energy savings. Using guidelines provided by the New York State Energy Research and Development Authority (NYSERDA), the contractors follow a strict protocol for accurately predicting the long-term energy savings that will result from the home energy improvements. The energy saving estimates for the projects are also verified by a third party organization that makes sure the energy saving calculations are accurate. The Conservation Services Group partners with NYSERDA to review all energy saving calculations made by contractors to ensure that the calculations are accurate. This process ensures that your carbon offset donations are resulting in actual greenhouse gas emission reductions.
%p
  %strong
    %span.subhead Profiles
%p We are proud to present these profiles of the home owners that have benefited from Finger Lakes Climate Fund grants. Thanks to the many donors to the Fund, these local families will be less vulnerable to rising fossil fuel prices and better positioned to remain stable and secure property owners. Over the long term, everyone benefits – the donors, the homeowners, local energy contractors, and the community.
%p &nbsp;


.pic
  %img.alignleft{:alt => "", :src => "http://fingerlakesclimatefund.org/wp-content/uploads/2014/12/Dan-and-Kolleen-Fenner-300x295.jpg", :title => "Dan and Kolleen Fenner"}/
  %a{:href => "https://vimeo.com/116889849", :target => "_blank"}
    %p.wp-caption-text Watch the video
.text
  %p
    %strong The Fenner Home
  %p Santa came a little early in 2014 for young Kolleen Fenner and her family, thanks to donors to the Finger Lakes Climate Fund.
  %p
    The Fenners’ 1920 bungalow home in Newfield suffered from lots of air leaks coming in from the crawlspace and garage door, making their 45-year old furnace labor to keep them warm.  Tompkins Community Action let Daniel Fenner know about the financial assistance they could get through NYSERDA’s programs, but the critical difference came with the Climate Fund grant of $2,247.
    %a{:href => "https://vimeo.com/116889849", :target => "_blank"} Watch the Daniel and Kolleen Fenner tell their story.
  %p Their new high-efficiency propane furnace combined with steps to tighten up the house by sealing rim joists, insulating walls, wrapping pipes, and replacing the garage door will keep 112 tons of CO2 out of the atmosphere.  Donations from the Sustainable Newfield Fund and other community members provided funds for the Fenner award.
  %p This is the eleventh grant from the Climate Fund bringing our total assistance to local households to $20,974.
.pic
  #Yantorno.wp-caption.alignleft{:style => "width: 292px"}
    %a{:href => "https://vimeo.com/100650108", :target => "_blank"}
      %img.alignleft.size-medium.wp-image-237{:alt => "", :height => "300", :src => "http://fingerlakesclimatefund.org/wp-content/uploads/2014/07/David-and-Angela-Yantorno-282x300.jpg", :title => "David and Angela Yantorno", :width => "282"}/
      %p.wp-caption-text Watch the video
.text
  %p
    %strong The Yantorno Home
  %p
    Runaway boiler!  It’s a good thing David Yantorno was working at home the day he first turned on the heat last fall.  When the house grew hot and the pipes started banging, he ventured into the basement and discovered that his 1947 vintage boiler was running out of control.  After finding the boiler’s kill switch and letting things cool back down, David knew it was time to get professional help on their historic home’s energy systems.
    %a{:href => "https://vimeo.com/100650108", :target => "_blank"} Watch the Yantornos tell their story.
  %p Angela and David Yantorno were delighted when they purchased their house on a quiet street in Ithaca’s Fall Creek neighborhood – at last a place big enough for their blended family with four young children.  They knew they needed to replace the old boiler, but had hoped it could wait until they could afford it.  Unfortunately, the fire risk posed by the ancient unit meant they didn’t have that option anymore.
  %p Will Graeper of Halco Energy let them know about the 50% matching grant from NYSERDA that they qualified for, but affording the other half was a challenge.  Will’s boss told him about the Finger Lakes Climate Fund, and shortly thereafter the Yantornos got the help they needed with a grant of $1,667.  This was the tenth award from the Climate Fund and represented a carbon offset of 83.3 tons.  Now the Yantornos are ready for their next Ithaca winter with a 98% efficient gas boiler whose variable speed pump will also reduce their electric bill.  Thanks to the donors of the Finger Lakes Climate Fund, the Yantorno Family should be able to avoid further basement drama!
  %p &nbsp;
.pic
  #Copman.wp-caption.alignleft{:style => "width: 310px"}
    %a{:href => "https://vimeo.com/99507309", :target => "_blank"}
      %img.alignleft.size-medium.wp-image-218{:alt => "", :height => "231", :src => "http://fingerlakesclimatefund.org/wp-content/uploads/2010/02/Copman-Family-1-300x231.jpg", :title => "Copman Family", :width => "300"}/
      %p.wp-caption-text Watch the video
.text
  %p
    %strong The Copman Home
  %p
    When Linda Copman and her three daughters moved to Ithaca from their long-time home in Hawaii, they were completely unfamiliar with the realities of heating and cooling a home through four seasons. In their solar-powered island home, temperature control was simple – open a window if you’re warm and close it if you’re cold. Thus, when they fell in love with their pretty historic home in the Town of Ithaca, they didn’t know that they should ask to see the utility bills before purchase.
    %a{:href => "https://vimeo.com/99507309", :target => "_blank"} Watch the Copmans tell their story.
  %p Their first heating bill during our recent long, cold winter filled Linda with dismay, but she immediately went to work researching her options and finding professional advice through the good folks at Snug Planet. They conducted an energy assessment and found that the house was basically uninsulated; but even worse was the leaking ductwork and grossly inefficient old boiler (you know you’re wasting fuel when your basement is uncomfortably hot while the rest of the house is freezing!).
  %p The Copmans could not afford to do more than a boiler replacement, and even with a 50% NYSERDA matching grant, they were hard pressed to both pay their heating bills and come up with their half of the boiler costs. They were perfect candidates for a grant from the Finger Lakes Climate Fund, so Snug Planet helped them apply for assistance. Because of the extremely inefficient situation, just the one step of replacing the boiler was going to eliminate 118 tons of carbon dioxide, qualifying the Copmans for the ninth FLCF grant with an award of $2,361.
  %p Linda and her daughters will be able to view the approach of next winter with much more equanimity. There’s still a long way to go to bring their home into the modern era of energy efficiency, but their utility bills should be far less ruinous now thanks to the generosity of the donors to the FLCF. The Copmans share a joyful and gracious approach to life, even in the face of adversity, and their sincere “aloha” of thanks should make all of our donors proud to participate.
  %p &nbsp;
  %p
.pic
  %a{:href => "http://fingerlakesclimatefund.org/wp-content/uploads/2014/02/Erik-Smith-at-new-CPO-beanery.jpg"}
    %img.alignleft.wp-image-211{:alt => "", :height => "216", :src => "http://fingerlakesclimatefund.org/wp-content/uploads/2014/02/Erik-Smith-at-new-CPO-beanery-288x300.jpg", :title => "Erik Smith at new CPO beanery", :width => "207"}/
.text
  %p
    %strong Cayuga Pure Organics
  %p Our eighth carbon offset grant is our first made to a local business.  Late last spring, a dreadful fire destroyed the barn at Cayuga Pure Organics (CPO) in Brooktondale along with all the equipment they used for cleaning and packaging organic dry beans and grains grown at their farm and by other local farmers.  As the only major supplier of organic beans in the region, CPO had become a key player in efforts to rebuild a secure local food system.  Facing bankruptcy, the company launched a fundraising campaign and its customers, fans, and dozens of local food advocates responded with more than $87,000 in donations to help them rebuild.
  %p
    %a{:href => "http://sustainabletompkins.org/"}> Sustainable Tompkins
    , got involved when
    = succeed "," do
      %a{:href => "http://snugplanet.com/"} Snug Planet
    the energy contractor for the building, realized they might be able to eliminate the need for a fossil fuel heating system if they could qualify for a grant from the Finger Lakes Climate Fund to help pay for the insulation upgrades.  By creating a passive, super-insulated processing facility, the beanery will be able to stay within its required temperature range without supplemental heating or cooling.
  %p The additional insulation will prevent 158 tons of carbon dioxide emissions over the next 30 years, which qualified CPO for the maximum Climate Fund grant of $2,500.  This funding was made possible by a generous gift from an anonymous donor whose concern about climate change inspired him to offset several years of carbon emissions through the Finger Lakes Climate Fund.
  %p It’s been a challenging year for the CPO team, but thanks to generous support from the community, the jobs of the young farmers have been saved along with this important component of a healthy local food supply.  All this – plus a lighter carbon footprint in the years ahead.
  %p
.pic
  %strong
    %a{:href => "http://fingerlakesclimatefund.org/wp-content/uploads/2010/02/FLCF-Yard-Sign-Second-Wind.jpg"}>
      %img.alignleft.wp-image-202{:alt => "", :height => "240", :src => "http://fingerlakesclimatefund.org/wp-content/uploads/2010/02/FLCF-Yard-Sign-Second-Wind-254x300.jpg", :title => "FLCF Yard Sign Second Wind", :width => "203"}/

.text
  %p
    %strong Second Wind Cottages
  %p
    Sometimes there are acts of generosity that are so inspiring they develop their own force field – drawing in others to amplify the original intention of making the world just a little better.  The story of the seventh Climate Fund grant of $3,457 to the
    %a{:href => "http://secondwindcottages.org/"} Second Wind
    cottages in Newfield is about the intersection of
    %em two
    such force fields.
  %p In the summer of 2013, an anonymous donor approached Sustainable Tompkins with the idea of creating a Sustainable Newfield fund where people concerned about climate disruption could donate money to help lower-income residents in Newfield make their homes more efficient and less dependent on fossil fuel.  Other donors have since joined in to help with this mission of slowing climate impacts by helping those least able to afford rising energy bills.
  %p
    Their generosity intersected with that of the
    %a{:href => "http://www.communityfaithpartners.org/"} Community Faith Partners
    when one of their members approached us about the possibility of applying for a climate fund grant to help pay for the insulation of six cottages they are building on donated land in Newfield.  The cottages are to house homeless men, and make up the new Second Wind project – – the brainchild of Carmen Guidi, a local business owner whose faith led him to devote himself to healing the wound of homelessness by providing homes to those living in the “Jungle” near Ithaca.  Carmen’s generosity and vision quickly drew in others from area churches and a beautiful and expanding circle of generosity has been growing ever since.  (Readers can enjoy the full history of the project by visiting SecondWindCottages.org.)
  %p
    %a{:href => "http://www.snugplanet.com/"}> Snug Planet
    , one of our area’s leading green businesses, played a key role in this web of generosity.  Our $3457 carbon offset grant was enough to pay for most of the insulation materials for the six cottages at Second Wind, but Snug Planet stepped up to donate the rest of the materials and to provide their skilled workforce to supervise the insulating and air sealing process.
  %p &nbsp;
.pic
  #Buchholz.wp-caption.alignleft{:style => "width: 219px"}
    %a{:href => "https://vimeo.com/86458762", :target => "_blank"}
      %img.alignleft.wp-image-200{:alt => "", :height => "216", :src => "http://fingerlakesclimatefund.org/wp-content/uploads/2010/02/Max-Buckholtz-290x300.jpg", :title => "Max Buckholtz", :width => "209"}/
      %p.wp-caption-text Watch the video
.text
  %p
    %strong The Buckholtz Home
  %p
    Max Buckholtz is a local up and coming composer with a busy schedule of teaching, composing, and performance.  His wife had purchased a ranch-style house in the Town of Ithaca about a decade ago, and they soon realized they had a difficult problem lurking below the house.  They heavy clay soil in the area was perpetually saturated and the moist environment in their crawlspace was rotting out the foundation, leaking tons of heat energy, and loading their indoor air with molds and mildew.  Max bravely took on much of the work himself, but the complexity of the project and ill health from hours in the crawlspace sent him to Snug Planet to get help with the project.
    %a{:href => "https://vimeo.com/86458762", :target => "_blank"} Watch Max Buchholz tell his family’s story.
  %p The diagnosis was daunting because so much work was needed to rescue the situation, and the Buckholtz family lived on a modest income.  Snug Planet organized access to NYSERDA’s Assisted Home Performance Program and also suggested that Max apply to the Finger Lakes Climate Fund for assistance.  We calculated that the work being done under the house would result in carbon emissions reductions of about 88 tons, and we were delighted to send them our fifth grant award of $1, 751 to help cover the costs.
  %p When we visited the worksite, Snug Planet’s staff was carefully cutting and fitting large sheets of insulation to build up a thick wall of protection under the entire floor of the house, as well as taking the time to insulate pipes and ductwork running through the crawlspace.  Max reports that the house is much more comfortable as winter gets underway, and both he and his older daughter are feeling much healthier now that they are breathing clean indoor air.  Kudos to the donors of the Climate Fund for helping make this possible, and to the dedicated and very hard-working crew at Snug Planet for tackling this difficult project.
  %p &nbsp;
  %p
.pic
  %a{:href => "http://fingerlakesclimatefund.org/wp-content/uploads/2010/02/Deb-Thompson-insulated-basement.jpg"}
    %img.alignleft.wp-image-192{:alt => "", :height => "209", :src => "http://fingerlakesclimatefund.org/wp-content/uploads/2010/02/Deb-Thompson-insulated-basement-300x263.jpg", :title => "Deb Thompson insulated basement", :width => "238"}/
.text
  %p
    %strong The Thompson Home
  %p Deborah Thompson’s historic home on Marshall Street in the Fall Creek neighborhood of Ithaca received a thorough energy makeover from Snug Planet in June 2013.  Deb received the fourth grant from the Finger Lakes Climate Fund — our first in the city and our first for a senior citizen.   Snug Planet estimated that the improvements they made would eliminate about 54 tons of carbon dioxide emissions, which translated into a grant of $1,076 toward the total cost of the project.
  %p The blower door test had revealed that this lovely old home was exceptionally leaky for its size.  Insulation in the attic and side walls was scant and uneven, and the basement had all sorts of moisture problems. Over the course of several days, the “Snug” team did extensive work in insulating and sealing leaks in the attic, and addressed moisture problems, air leaks, and lack of insulation in the basement.
  %p Deb Thompson is a well-known and beloved local community organizer and activist.  Her life has been lived by the values that guide the donors to the Climate Fund, and thus everyone involved in this project has been extra pleased to see Deb get a “little help from her friends” after so many years of being there to help others.   When we visited with Deb in her living room surrounded by the rich gleam of old chestnut woodwork, we imagined her safe and warm during next winter’s storms — thanks to the good people willing to take responsibility for protecting the climate.
  %p &nbsp;
.pic
  #Mazur.wp-caption.alignleft{:style => "width: 260px"}
    %a{:href => "https://vimeo.com/54465966", :target => "_blank"}
      %img.alignleft{:alt => "", :height => "332", :src => "http://sustainabletompkins.org/wp-content/uploads/Beth-Mazur-and-dog-med-res1-e1345177201120.jpg", :width => "250"}/
      %p.wp-caption-text Watch the video
.text
  %p
    %strong The Mazur Home
  %p
    The Mazur Family of Enfield received our third grant of $2,000 in May 2012. Beth and her two daughters loved the green vistas and rural charm of their new place, but like so many of us they discovered that the house itself was poorly designed in terms of energy and moisture management. Then, to make matters worse, the old furnace ended its life with a sooty fire in its basement chamber.
    %a{:href => "https://vimeo.com/54465966", :target => "_blank"} Watch Beth Mazur tell her family’s story.
  %p The folks at Snug Planet did a thorough energy analysis of the house, and proposed a work scope involving major insulation and air sealing, a high efficiency boiler and water heater, and ventilating fans to address mildew and rot problems. The good news was that the Mazurs qualified for a $5,000 grant from NYSERDA for the work; but it was still going to be a big investment for a single mom to handle.
  %p Beth wasn’t sure what to do, but the Snug Planet team helped her apply for additional help from the Finger Lakes Climate Fund. The project offset an estimated 100.4 tons of carbon dioxide, qualifying the Mazurs for our new maximum award of $2,000 to cover 100 tons of emissions. Thanks to the generous donors to the Fund, the Mazurs can relax and enjoy their home in all four seasons.

.pic
  #Rosentel.wp-caption.alignleft{:style => "width: 260px"}
    %a{:href => "https://vimeo.com/54464346", :target => "_blank"}
      %img.alignleft{:alt => "", :height => "187", :src => "http://fingerlakesclimatefund.org/wp-content/uploads/2011/05/Rosentel-with-new-furnace-lo-res-e1306377810340.jpg", :width => "250"}/
      %p.wp-caption-text Watch the video
.text
  %p
    %strong The Rosentel Home
  %p
    Our second grant was made to Jill Rosentel of Lansing in February 2011. Jill is a real estate agent and a first-time home buyer. Even though she was really excited to own her first home, the heating bills for her old and drafty house were daunting and the furnace had seen better days. ASI Energy evaluated the situation, and detailed a long list of improvements to reduce her heating bills. Jill needed help in order to go forward with the full project, and applied for a Finger Lakes Climate Fund grant.
    %a{:href => "https://vimeo.com/54464346", :target => "_blank"} Watch Jill Rosentel tell her story.
  %p Jill’s house needed a new, high-efficiency furnace as well as a new water heater, major insulation work, and lots of air sealing. All of these improvements would remove about 130 tons of CO2 over their lifespan, so we gave Jill our maximum grant of $1500 towards her project. Jill is delighted by the improved comfort in her snug home and the cost savings – but she also recognizes the importance of lower carbon emissions and promised to spread the word to her fellow realtors.
  %p &nbsp;
.pic
  #Ellis.wp-caption.alignleft{:style => "width: 260px"}
    %a{:href => "https://vimeo.com/54465948", :target => "_blank"}
      %img.alignleft{:alt => "", :height => "302", :src => "http://fingerlakesclimatefund.org/wp-content/uploads/2011/05/Ellis-Family-FLCF-grant-lo-res.jpg", :width => "250"}/
      %p.wp-caption-text Watch the video
.text
  %p
    %strong The Ellis Home
  %p
    Our first grant award from the Finger Lakes Climate Fund went to the Ellis Family in December 2010. Michael, Sherri, and their daughter, Emily, love their home in the woods, but their wood-burning stove was making Sherri’s allergies worse and it was hard to stay warm because of the drafts and lack of insulation. Michael’s schoolteacher salary needed some assistance in order to make the recommended energy improvements, so their contractor, Tompkins Community Action, suggested they apply for a local carbon offset grant from Sustainable Tompkins.
    %a{:href => "https://vimeo.com/54465948", :target => "_blank"} Watch the Ellises tell their story.
  %p The work scope for the project was estimated to reduce 50.4 tons of CO2 emissions over 20 years by installing an efficient wood pellet stove, insulating the attic, and sealing a variety of leaks in the house. After review by our grant-making committee of Ian Shapiro, Mark Pierce, Kathy Schlather, and Gay Nicholson, and approval by the Board of Directors, we were happy to award the first grant of $1008 to the Ellis Family.
  %div{:style => "clear: both;"}
  %p &nbsp;
  %p
  %span.subhead Other Offset Projects
%p The Finger Lakes Climate Fund is also investigating other cost-effective local carbon offset projects such as solar hot water, solar photovoltaic, biomass heating, and other renewable energy projects. If you would like to submit a proposal for a carbon offset project, please contact us at projects@fingerlakesclimatefund.org.