:css
  #awardees label {
    font-size: 1.2em;
    display: inline-block;
  }
  #awardees span {
    font-size: 1.3em;
    color: #8012b3;
  }
  .bio {
    margin-top: 8px;
  }
  .awardee {
    margin-bottom: 18px !important;
  }
.row{:style=>'padding:0px;'}
  .large-12.columns{:style=>'padding:0px;'}
    %h3 Residential Energy Efficiency
    %p The Finger Lakes Climate Fund will initially fund residential energy efficiency projects for low to moderate income households in the Finger Lakes region. The fund will help pay for insulation, air sealing, energy efficient heating equipment, and other upgrades to reduce energy use and greenhouse gas emissions. The energy efficiency upgrades are carried out by Building Performance Institute accredited contractors using guidelines provided by the New York State Energy Research and Development Authority. These home energy efficiency projects reduce greenhouse gas emissions, support low income families, and help stimulate our local economy.
    %h4 Project Verification Process
    %p Verification ensures that carbon offset projects accurately calculate the amount of emissions that will be reduced as a result of the project. Through the Home Performance with Energy Star program, the residential energy efficiency projects follow industry best practices for estimating energy savings. Using guidelines provided by the New York State Energy Research and Development Authority (NYSERDA), the contractors follow a strict protocol for accurately predicting the long-term energy savings that will result from the home energy improvements. The energy saving estimates for the projects are also verified by a third party organization that makes sure the energy saving calculations are accurate. The Conservation Services Group partners with NYSERDA to review all energy saving calculations made by contractors to ensure that the calculations are accurate. This process ensures that your carbon offset donations are resulting in actual greenhouse gas emission reductions.
    %h4 Profiles
    %p We are proud to present these profiles of the home owners that have benefited from Finger Lakes Climate Fund grants. Thanks to the many donors to the Fund, these local families will be less vulnerable to rising fossil fuel prices and better positioned to remain stable and secure property owners. Over the long term, everyone benefits – the donors, the homeowners, local energy contractors, and the community.
    %p &nbsp;

    #awardees
      =render @awardees



:javascript
  $('.bio').readmore({
    speed: 75,
    lessLink: '<a href="#">Read less</a>',
    collapsedHeight: 150
  });