!!! 5
%html
  %head
    %title Something Went Wrong
    :css
      body {
        font-family: Arial, sans-serif;
        text-align: center;
        padding: 50px;
      }
      h1 {
        font-size: 50px;
      }
      p {
        font-size: 20px;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
      }
  %body
    .container
      %h1 Oops!
      %p Unfortunately, something went wrong when processing your payment.  If you received an email receipt from Stripe, your offset payment still went through successfully.
      %p If you did not get email from Stripe, your payment failed - please try again, or report to admin.
      %a{ href: "/" } Go back to calculator
