.row
  .large-12.columns
    %h3 Reduce Your Emissions
    %p There are many ways to reduce your carbon emissions. Below are some suggestions for several actions you can take and a list of resources that provide helpful information about saving energy and reducing your emissions.
    %h4 Reduce Your Home Emissions
    .embed-container
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "352", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/54961331", :webkitallowfullscreen => "", :width => "640"}

    %ul
      %li Choose wisely when grocery shopping or eating out.  A plant-based diet releases far fewer greenhouse emissions than a meat-based diet and you can make a big difference simply by eating meat less often.  The type of meat and how it is produced also makes a big difference, and you can learn some simple rules for guiding your diet choices.
      %li Participate in Home Performance with Energy Star: With this program a trained professional will evaluate your home in order to identify exactly what your house needs to become more energy efficient. They’ll make recommendations for energy improvements and provide you with an estimate of how much the work will cost and how much money you’ll save on your utility bills as a result of the work. This is an excellent way to reduce your greenhouse gas emissions, save money on your energy bills, and have a more comfortable house. There are even financial incentives available to help you pay for qualifying work.
      %li Purchase Energy Star Appliances: When you’re shopping for new appliances make sure you look for the Energy Star label. This ensures that the product meets certain energy efficiency standards.
      %li Turn down your thermostat: Use a programmable thermostat to lower your heat when you’re away from your house and while you’re sleeping. Also, try lowering the temperature a bit to see if you can have it slightly cooler in the winter.
      %li Eliminate vampire load: Many appliances use electricity even when they’re turned off. This vampire load, or phantom load, adds up to a significant amount of energy. To eliminate this wasted energy, unplug your electrical equipment or use power strips and turn them off when you’re not using them.
      %li Conserve electricity: Make sure to turn off your lights, computer, and other electrical equipment when not in use.
      %li And consider offsetting your home’s carbon footprint through the Finger Lakes Climate Fund and putting those funds to work helping a local family to make our region more energy efficient. Watch Miranda Phillips talk about offsetting her family’s carbon footprint.


    %h4 Reduce Your Vehicle Emissions
    .embed-container
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "352", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/54468069", :webkitallowfullscreen => "", :width => "640"}

    %ul
      %li Buy a fuel efficient vehicle: When you’re in the market for a new automobile, make sure to compare the fuel economy of the vehicles. Buying a smaller car or a hybrid vehicle can considerably reduce your carbon emissions over the long term.
      %li Drive less often: Look for opportunities to walk, bike, take the bus, or carpool. When you do have to drive, combine trips so you can save an extra trip and plan out your routes efficiently to drive fewer miles.
      %li Drive to save fuel: Make sure to avoid excessive idling, speeding, and rapid acceleration and braking. Also make sure to check your tire pressure and maintain your vehicle regularly. These actions can significantly increase the fuel efficiency of your current vehicle.
      %li Or consider offsetting your vehicle emissions through the Finger Lakes Climate Fund and putting those funds to work locally to make our region more energy efficient. Watch Nate Shinagawa talk about offsetting his commute.


    %h4 Reduce Your Airplane Travel Emissions
    .embed-container
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "352", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/54468068", :webkitallowfullscreen => "", :width => "640"}

    %ul
      %li Ride the bus, take a train, or carpool: If possible, take a little more time to get to your destination by using a bus line or train to travel. Driving a full, fuel efficient car can also be better than flying in terms of greenhouse gas emissions.
      %li Participate in webinars and online conferences: Look for opportunities to avoid the trip altogether by participating in web-based meetings and conferences when possible.
      %li And if you must travel, consider offsetting your carbon emissions through the Finger Lakes Climate Fund and putting those funds to work locally to make our region more energy efficient. This video shows how you can offset your carbon footprint right at the airport.
