%h3 Resources
%p.subhead Home Energy Savings
%ul.emissions
  %li
    %a{:href => "http://counties.cce.cornell.edu/tompkins/energysavings", :target => "_blank"}> Cornell Cooperative Extension of Tompkins County Home Energy Tips
    \: This website provides detailed information on how to reduce energy in your home or apartment.
  %li
    %a{:href => "http://www.ehrhartpropane.com/", :target => "_parent"}> Ehrhart Propane
    \: This company offers a biodiesel blend for home heating.
  %li
    %a{:href => "http://www.energystar.gov/", :target => "_blank"}> Energy Star Program
    \: This federal program offers information on energy efficient products.
  %li
    %a{:href => "http://www.flenergy.com/", :target => "_blank"}> Finger Lakes Renewable Energy Cooperative
    \: This is a local renewable energy contracting company.
  %li
    %a{:href => "http://www.greenresourcehub.org/directories", :target => "_blank"}> Green Resource of the Finger Lakes
    \: This website includes a searchable Green Business Directory that lists energy contractors throughout the Finger Lakes region.
  %li
    %a{:href => "http://www.ithacabiodiesel.org/", :target => "_blank"}> Ithaca Biodiesel Cooperative
    \: This local organization offers biodiesel for home heating fuel.
  %li
    %a{:href => "http://www.ithacanhs.org/", :target => "_blank"}> Ithaca Neighborhood Housing Services
    \: This local organization provides low-interest loans for qualifying energy efficiency improvements.
  %li
    %a{:href => "http://www.getenergysmart.org/", :target => "_blank"}> New York State Energy Research and Development Authority
    \: This website provides detailed information about the Home Performance with Energy Star program, financial incentives for home energy efficiency, and tips for reducing energy use.
  %li
    %a{:href => "http://www.pscontracting.com/", :target => "_blank"}> Performance Systems Contracting
    \: This is a local energy efficiency contracting company.
  %li
    %a{:href => "http://www.renovusenergy.com/", :target => "_blank"}> Renovus Energy
    \: This is a local renewable energy contracting company.
  %li
    %a{:href => "http://www.snugplanet.com/", :target => "_blank"}> Snug Planet
    \: This is a local energy efficiency contracting company.
  %li
    %a{:href => "http://www.tcaction.org/", :target => "_blank"}> Tompkins Community Action
    \: This local organization provides contracting services for home energy efficiency. They also administer energy services for low income people.
  %li
    %a{:href => "http://upstateenergysolutions.com/", :target => "_blank"}> Upstate Energy Solutions
    \: This contractor offers a variety of services related to renewable energy (ex. solar, wind, geothermal) and energy efficiency.
%p.subhead Transportation
%ul.emissions
  %li
    %a{:href => "http://www.ithacacarshare.org/", :target => "_blank"}> Ithaca Carshare
    \: This local organization offers members the opportunity to use vehicles on an hourly basis, helping to avoid the need for owning a car.
  %li
    %a{:href => "http://ccetompkins.org/community/way2go"}> Way2Go
    \: This program of Cooperative Extension helps people take charge of transportation in their lives and communities.
  %li
    %a{:href => "http://www.tcatbus.com/", :target => "_blank"}> Tompkins Consolidated Area Transit (TCAT)
    \: This is the local public transportation entity. Their website contains information about bus routes and rates.
  %li
    %a{:href => "http://www.co.tompkins.ny.us/itctc/cyc/", :target => "_blank"}> Tompkins County Curb Your Car Coalition
    \: This local organization promotes alternative transportation.
  %li
    %a{:href => "http://www.fueleconomy.gov/", :target => "_blank"}> U.S. Department of Energy &amp; EPA Fuel Economy
    \: This website provides detailed information on vehicle fuel economy and tips for saving fuel.
%p.subhead Airplane Travel (alternatives to)
%ul.emissions
  %li
    %a{:href => "http://www.amtrak.com/", :target => "_blank"} Amtrak
    (train service)
  %li
    %a{:href => "http://www.greyhound.com/", :target => "_blank"} Greyhound Bus Lines
  %li
    %a{:href => "http://www.trailways.com/", :target => "_blank"} New York Trailways
    (bus service)
  %li
    %a{:href => "http://www.shortlinebus.com/", :target => "_blank"} Shortline Bus
  %li
    %a{:href => "http://www.goswarthout.com/", :target => "_blank"} Swarthout Coaches
    (bus service)