.row.awardee[awardee]
  .large-4.columns
    .embed-container
      -#%iframe{:allowfullscreen => "", :frameborder => "0", :height => "100%", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/#{awardee.video_id}", :webkitallowfullscreen => "", :width => "100%"}
      =image_tag("#{awardee.name.gsub(' ', '-')}.jpg")

  .large-8.columns
    %h4=awardee.name
    %label Grant Amount:
    %span #{number_to_currency(awardee.award_amount, :precision => 0)}
    %br
    %label C02 Offset:
    %span #{number_with_delimiter(awardee.pounds_offset)} tons
    .bio=awardee.bio.html_safe