-if awardee.avatar_file_name.present?
  =image_tag("#{awardee.avatar.url(:square)}", :class=>'img-circle')
-else
  =image_tag("#{awardee.name.gsub(' ', '-')}.jpg", :class=>'img-circle')

%label=awardee.name
%span Grant Amount: #{number_to_currency(awardee.award_amount, :precision => 0)}
%br
%span C02 Offset: #{number_with_delimiter(awardee.pounds_offset)} tons
.more=link_to 'Find out more!', pages_path('portfolio')