.embed-container
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "100%", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/#{@video_id}", :webkitallowfullscreen => "", :width => "100%"}
