%p Thanks so much for your contribution to the Mothers Out Front - Corning Community Team "Seal the Cracks" campaign in partnership with the Finger Lakes Climate Fund! Your offset will be used to assist local households to weatherize their homes and save money on their heating bills while reducing their reliance on fossil fuels. Efficiency measures like this are a big part of the work we need to do to preserve a livable climate for our children.
%p<
  We hope you will share your offset story with friends and colleagues and encourage others to make offsetting part of their lifestyle. While you are at it, will you share your story with us? Please e-mail us at: &nbsp;
  =link_to 'Stories@mothersoutfront.org', 'mailto:Stories@mothersoutfront.org'
  &nbsp; and tell us why you chose to be a part of this campaign.
%p<
  Offset your carbon use locally at &nbsp;
  =link_to 'FingerLakesClimateFund.org', 'http://fingerlakesclimatefund.org'
%p<
  Connect with us on &nbsp;
  =link_to 'Facebook', 'https://www.facebook.com/climatefund/'
