%p=MessageTemplate.where(:name=>'Carbon Race').first.body
%p<
  We hope you will share your offset story with friends and colleagues and encourage others to make offsetting part of their lifestyle. While you are at it, will you share your story with us? Please e-mail us at: &nbsp;
  =link_to 'Stories@mothersoutfront.org', 'mailto:Stories@mothersoutfront.org'
  &nbsp; and tell us why you chose to be a part of this campaign.

=render :partial=>'shared/email_footer'
