%h4=MessageTemplate.where(:name=>'Offset Complete').first.body
%ul
  %h5 Your offsets
  -@offsets.each do |o|
    %li #{o.title} - #{o.pounds} lbs for $#{o.cost}

=render :partial=>'shared/email_footer'