%h4 Thanks so much for your contribution to the Finger Lakes Climate Fund!  We hope you will share your offset story with friends and colleagues and encourage others to make carbon offsetting part of their lifestyle.

%ul
  %h5 Your offsets
  -@offsets.each do |o|
    %li #{o.title} - #{o.pounds} lbs for $#{o.cost}

%p<
  Offset your carbon use locally at
  =link_to 'FingerLakesClimateFund.org', 'http://fingerlakesclimatefund.org'
%p<
  Connect with us on
  =link_to 'Facebook', 'https://www.facebook.com/climatefund/'
