
%p=MessageTemplate.where(:name=>'Prize Winner').first.body

%p You have won #{@description} from #{@business}.  You can claim your prize by forwarding this email to info@sustainabletompkins.org.  We'll be in touch to arrange pickup or mailing of your prize voucher.

%h5 Claim code: #{@code}

=render :partial=>'shared/email_footer'