%div{:class=>"cart_item cart_item-#{cart_item.id}"}
  .cart_item-name=cart_item.title

  .delete
    =link_to cart_item_path(cart_item), :method=>:delete, :remote=>:true do
      %i.fi-trash
  %div{:style=>"clear:both;"}
  .dollar $
  .cost #{cart_item.cost}
  .weight #{cart_item.pounds}lbs
