$("#cart-items").html("#{escape_javascript render @user_offsets, :as=>:cart_item}");
totalCart();
if($('#cart .cart_item').length > 0) {
$('#total-cost').show();
$('#offset-buttons').css('right','45px');
}
