/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

@import 'foundation-icons';

$light-blue:#c0e3f6;
$dark-blue:#0b629d;
$red: #bf2e1a;
$green:#60983b;
$yellow:#fcaf17;

.subhead {
  color: $red;
}

.faq-nav {
  a {
    display:block;
  }
  margin-bottom: 15px;
}

.button-icon {
	font-size: 3em;
}

.button-text {
	font-size: 1.5em;
	display: inline;
	position: relative;
	top: -.5em;
	padding-left: .5em;
}

.cycle-slideshow { width: 100% }
.cycle-slideshow img { width: 100%; height: auto }