/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

@import 'foundation-icons';

$light-blue:#c0e3f6;
$dark-blue:#0b629d;
$red: #bf2e1a;
$green:#60983b;
$yellow:#fcaf17;

body {

}
.off-canvas-wrap {
    background: image-url('weave-bg-green.jpg');
}
.subhead {
  color: $red;
}

.faq-nav {
  a {
    display:block;
  }
  margin-bottom: 15px;
}

.social {
  i {
    font-size: 25px;
    margin: 0px;
  }
}
.button-icon {
	font-size: 3em;
}

.button-text {
	font-size: 1.5em;
	display: inline;
	position: relative;
	top: -.5em;
	padding-left: .5em;
}



.cycle-slideshow { width: 100% }
.cycle-slideshow img { width: 100%; height: auto }

.explanatory-text {
  background-color: #FCAF17;
  padding: 9px 15px;
  min-height: 620px;
  p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    margin:4px;
  }

  ul {
    margin-top: 12px;
    li {
      font-size: 14px;

    }
  }
}
#try-calc {
  background-color: #B42B17;
  font-weight: 600;
  font-size: 18px;
}

.pac-container {
    z-index: 1051 !important;
}

#video, #facebook {
  margin-top: 12px;
}

#recent-offsets {
  text-align: center;
  line-height: 1;
  h5 {
    font-weight: 600;
    color: #333;
  }
  .sample {
    margin-bottom: 10px;
    .name {
      font-size: 16px;
      margin-bottom: 3px;
    }
    .cost {
      font-size: 18px;
      font-weight: bold;
    }
  }
}

#main-image {
    max-height: 200px;
}

.top-bar-section {
  ul {
    margin-top: 5px;
    margin-right: 10px;
  }
  li {
    a {
      line-height: 20px !important;
      padding: 8px !important;
    }
  }
  i {
    font-size: 30px;
  }
}

.horizontal-menu {
  ul {
    li {
      background-color: #006893;
      float:left;
      list-style-type: none;
      padding: 3px 15px;
      text-align:center;
      font-size: 17px;
      a {
        color: #fff;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
    li:hover {
      background-color: #B42B17;
    }
  }
}
