/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

@import 'foundation-icons';
@import 'https://fonts.googleapis.com/css?family=Ropa+Sans';

$light-blue:#c0e3f6;
$dark-blue:#0b629d;
$red: #bf2e1a;
$green:#60983b;
$yellow:#fcaf17;

body,h1,h2,h3,h4,h5, button, .button, input {
  font-family: 'Avenir', sans-serif;
}
.row {
  max-width: 90%;
}

.button {
  font-size: 1.1em;
}

.button-icon {
	font-size: 3em;
}

.button-text {
	font-size: 1.5em;
	display: inline;
	position: relative;
	top: -.5em;
	padding-left: .5em;
}



/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#508129+0,5b922f+100 */



#msg {
  color: red;
}

#logo {
  width: 35px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  background: #1b75b8;
    line-height: 1.1em;
  i {
    margin: 2px 0 0px 9px;
    font-size: 25px;
    color: white;
  }
}





#carbon-races-heading {
  background: url('carbon-races-1100.png') -50px;
  text-align: center;
  vertical-align:middle;
  height: 240px;
  line-height: 240px;
  font-size: 3em;
}

.container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}


#join,#create,#spin,#individual-player {
  width: 100%;
  margin-bottom: 3px;
  font-size: 1.6em;
  padding: 4%;
  text-align:center;

}
#spin {
  margin-top: 20px;
  background-color: #5b922f;
  margin-bottom: 30px;
  cursor: pointer;
}

.cycle-slideshow {
  img {
    width: 100%;
    height: 100%;
    top:  0;
    left: 0;

  }
}
.cycle-slideshow {
    height:  80%;
    width:   80%;
    margin: 10%;
    padding: 0;
    margin:  auto;
}
#custom-caption {
  margin-top: 20px;
}

#wheel {
  display: none;
}
#carbon-race {
  display:none;
  span {
    font-size: 1.2em;
    color: red;
  }
}


#award {
  font-size: 1.2em;
  font-weight: 600;
  margin: 12px 0;
  color: red;
}

#home {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 45px;
  height:45px;
  background-color: #b4c8d8;
  padding-top: 4px;
  i {
    font-size: 35px;
    margin-left: 11px;
  }
  a {
    color: #000;
  }
}
#total-cost, #menu {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 45px;
  height:45px;
  background-color: #b4c8d8;
  padding-top: 4px;
  i {
    color: #000;
    font-size: 35px;
    margin-left: 11px;
  }
  a {
    color: #000;
  }
}

#total-cost {
  background: #e0d238;
  display: none;
  i {
    color: #2774ad;
    font-size: 1.9em;

    vertical-align:middle;
  }
}


.row.cart_item {
  margin-bottom: 10px;
  color: #bf2e1a;
}


/* iPads (portrait) ----------- */
@media only screen and (max-width : 1024px) {
  #offset-buttons {
    .button {
      margin: 0px;
    }
    z-index: 1000;

    font-size: 1em;

    i.left-logo {
      margin-right: 4px;
      font-size: 20px;
    }
    i.arrow {
      margin-left: 4px;
      font-size: 20px;
      height: 45px;
    }
    p {
      margin-bottom: 0px;
    }
  }
}

.prize_winner, .prize {
  img {
    height: 65%;
    width: 65%;
    margin: 0 17%;
  }
}


.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  display: block;
  width: 100%;
  margin-bottom: 12px;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

.team {
  h4, h5 {
    display:inline;
  }
  h4 {
    margin-right: 15px;
    margin-top: -2px;
  }
  h5 {
    a {color: red;}
  }
  label, p { display:inline-block;}
  p, label{
    line-height: 1em;
    margin: 0px;padding:0px;
    font-size: 1.2em;
  }
  label {
    font-weight: 300;
  }
  p{
    font-weight: 500;
  }
}

.team-members {
  margin-left: 8px;
}

#spin-button {
  width: 6em;
  font-size: 2em;
  padding: 20px;
  margin: auto;
  cursor:pointer;
}

#awardees label {
  font-size: 1.2em;
  display: inline-block;
}
#awardees span {
  font-size: 1.3em;
  color: #8012b3;
}
.bio {
  margin-top: 8px;
}
.awardee {
  margin-bottom: 18px !important;
}

button#spin-button {
  background-color: #c29300 !important;
  font-weight: 600;

}

label {
  cursor: default;
}

.arrow_box {
  display:none;
  padding: 6px 9px;
  position: absolute;
  width: 33%;
  top: 75px;
  left: 15px;
  background: #1767a3;
  color: #fff;
  border: 4px solid #c2e1f5;
  -webkit-box-shadow: 0px 7px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 7px 7px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 7px 7px 0px rgba(0,0,0,0.75);
}
.arrow_box:after, .arrow_box:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #88b7d5;
  border-width: 30px;
  margin-left: -30px;
}
.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #c2e1f5;
  border-width: 36px;
  margin-left: -36px;
}


#form-msg, #join-msg, #guest-msg {
  color:red;
}

#donate-msg {
  font-size: 1.3em;
  color: #eee;
}

.with-border {
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.load-page {
  font-size: 1.2em;
  cursor: pointer;
}
.load-page:hover {
  font-weight: 600;
}
.page-editor {
  display:none;
}

/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 768px) {
  .cracks-text {
    text-align:center; font-size: 1.3em;line-height: 1.4em;
  }
  .cracks-list {
    text-align:center;
    font-size: 1.1em;
  }
}

/* Big smartphones (portrait) (ie: Galaxy 3 has 360)*/
@media only screen and (max-width : 640px) {
  .cracks-text {
    text-align:center; font-size: 1.3em;line-height: 1.4em;
  }
  .cracks-list {
    margin-top: 12px;
    text-align:center;
    font-size: 1.1em;
  }
}

/* Smartphones (portrait) (ie: Galaxy 1) */
@media only screen and (max-width : 321px) {}
