#calculator{
  width: 100%;
  position: relative;
  min-height: 500px;
}

#offset-buttons {
  position: absolute;
  top: 0px;
  left: 0px;
  .button {
    display: block;
  }
}


#air-travel-offset, #car-travel-offset, #home-energy-offset, #quick-offset, #cart {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
}

.offset-form {
  input {
    font-size: 1.2em;
  }
}

.offset {
  clear:both;
  height: 50px;
  min-width: 300px;
  .name {
    color: #0b629d;
    float:left;
  }
  .delete {
    float: right;
    position: relative;
    top:0px;
    right: 0px;
  }
  .cost {
    color: #bf2e1a;
    font-size: 12px;
    float:left;

  }
  .weight {
    color: #bf2e1a;
    font-size: 12px;
    float:right;
  }
}
