#calculator{
  position: relative;


  input {
    font-size: 1.2em;
    padding: 3px;
  }
  input[type="number"] {
    width: 60px;
    padding: 0px 8px;
  }
}

#calculator-buttons {
  -webkit-box-shadow: 0px 7px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 7px 7px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 7px 7px 0px rgba(0,0,0,0.75);
  height: 44px;
}

.checkout {
  display: none;
  cursor:pointer;
}
.checkout.mobile {
  clear:both;
}


.checkout:hover {
  background-color: #60983b;

}

#offset-buttons {
  position: absolute;
  top: 0px;
  right: 45px;
  left: 45px;
  .button {
    margin: 0px;
  }
  z-index: 1000;
  height: 45px;
  i.left-logo {
    margin-right: 7px;
    font-size: 25px;
  }
  i.arrow {
    margin-left: 7px;
    font-size: 25px;
  }
  p {
    margin-bottom: 0px;
  }
}

#quick-offset {

  .button {
    margin-bottom: 3px;
  }
}


#air-travel-offset, #car-travel-offset, #home-energy-offset, #quick-offset, #saved-offsets, #cart, #offset-choices {
  display: none;
  position: absolute;
  top: 45px;
  width: 100%;
  hr {
    margin:12px 0;
  }
  z-index: 999;
  padding: 10px;

}

#offset-choices  {
  background-color: #2774ad;
}

#cart {
  background-color: #e0d238;
  -webkit-box-shadow: 0px 7px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 7px 7px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 7px 7px 0px rgba(0,0,0,0.75);
}

.offset-form {
  padding: 0px 12px;
  label {
      color: #fff;
      margin-bottom: 3px;
  }
  -webkit-box-shadow: 0px 7px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 7px 7px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 7px 7px 0px rgba(0,0,0,0.75);

}

#home-energy-offset {
  input {
    margin-bottom: 5px;
    display: block;
  }
}

.offset {
  clear:both;
  height: 60px;
  padding: 5px;
  background-color: rgba(238, 238, 238, 0.43);
  margin-bottom: 3px;
  .offset-name {
    color: #0b629d;
    float:left;
  }
  .delete {
    float: right;
    position: relative;
    top:0px;
    right: 0px;
  }
  .dollar, .cost, .amount {
    color: #bf2e1a;
    font-size: 1.1em;
    float:left;

  }
  .weight {
    color: #bf2e1a;
    font-size: 1em;
    float:right;
  }
  button {
    margin-top: 7px;
  }
}

.round-trip {
  label,input {
    display:inline;
  }
}


