.row.prize[prize]{:style=>'margin-bottom: 12px;'}
  .large-4.medium-5.small-5.columns{:style=>'padding-top: 10px;'}
    -if prize.image.attached?
      =image_tag url_for(prize.image)
  .large-7.medium-7.small-7.columns
    %label=best_in_place prize, :description
    %span=best_in_place prize, :title
    %div=best_in_place prize, :count
    %div=best_in_place prize, :region_id, :as => :select, :collection => Region.all.map { |i| [i.id, i.name] }
  .large-1.columns
    =link_to 'X', prize,  method: :delete, remote: :true, data: { confirm: 'Are you sure?' }
