.row.winner[prize]
  .large-4.medium-5.small-5.columns
    =image_tag("#{prize.title.gsub(' ', '-')}.png")
  .large-8.medium-7.small-7.columns
    %label Win a #{prize.description} from
    %span #{prize.title}