%h3 Thanks for your payment!
%p
  Your contribution to the climate fund will help a local family improve their household energy efficiency and thus reduce carbon pollution.  For more info, check out some of
  =link_to "out past climate fund awardees", pages_path("portfolio")
%p You can amplify the impact of your offset by sharing on social networks
%a.twitter-share-button{"data-count" => "none", "data-hashtags" => "carbonoffsets", "data-text" => "I just offset my carbon use locally with the Finger Lakes Climate Fund", "data-url" => "http://fingerlakesclimatefund.org", "data-via" => "FingerLakesClimateFund", :href => "https://twitter.com/share"} Tweet
%br
.fb-share-button{"data-href" => "http://fingerlakesclimatefund.org", "data-layout" => "button"}


