%button#checkout-button 'checkout'
%script{:src => "https://js.stripe.com/v3/"}

=form_with url: '/subscribe', method: :get do |form|
  =form.select :mode, options_for_select([ "", "home energy", "car commute", "air travel" ], "")
  =form.select :time_period, options_for_select([ "", "month", "quarter", "year" ], "")
  =form.select :frequency, options_for_select([ "one-time", "recurring" ], "one-time")
  =form.submit 'add to cart'

:javascript
  var stripe = Stripe("#{ENV['PUBLISHABLE_KEY']}");

  var checkoutButton = document.getElementById('checkout-button');

  checkoutButton.addEventListener('click', function() {
    stripe.redirectToCheckout({
      // Make the id field from the Checkout Session creation API response
      // available to this file, so you can provide it as argument here
      // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
      sessionId: '#{@session.id}'
    }).then(function (result) {
      // If `redirectToCheckout` fails due to a browser or network
      // error, display the localized error message to your customer
      // using `result.error.message`.
    });
  });

