#calculator
  %h4 Carbon Calculator
  %p choose an offset to get started:

  #offset-buttons
    #air-travel-button.button
      %i.fi-star.left-logo
      air travel
      %i.fi-arrow-right.arrow
    #car-travel-button.button
      %i.fi-star.left-logo
      car travel
      %i.fi-arrow-right.arrow
    #home-energy-button.button
      %i.fi-home.left-logo
      home energy
      %i.fi-arrow-right.arrow
    #quick-button.button
      %i.fi-star.left-logo
      quick offset
      %i.fi-arrow-right.arrow
  #air-travel-offset.offset-form
    %label enter your trip mileage
    %input{:placeholder => "total miles", :id=>"air-miles"}
    %hr
    %label or, let us calculate it for you:
    %input.starting-air-city{:placeholder => "starting location"}
    %input.ending-air-city{:placeholder => "end location"}
    %hr
    #calculate-air-offset.button
      calculate offset
    .button.cancel
      cancel

  #car-travel-offset.offset-form
    %label enter your trip mileage
    %input{:placeholder => "total miles", :id=>"car-miles"}
    %hr
    %label or, let us calculate it for you:
    %input.starting-car-city{:placeholder => "starting location"}
    %input.ending-car-city{:placeholder => "end location"}
    %hr
    #calculate-car-offset.button
      calculate offset
    .button.cancel
      cancel

  #home-energy-offset.offset-form
    %p enter your energy use
    %input{:type=> "text", :id=>"propane",:placeholder => "propane (gallons)"}
    %input{:type=> "text", :id=>"natural-gas",:placeholder => "natural gas (therms)"}
    %input{:type=> "text", :id=>"electricity",:placeholder => "electricity (kWh)"}
    %input{:type=> "text", :id=>"fuel-oil",:placeholder => "fuel oil (gallons)"}
    #calculate-home-offset.button
      calculate offset
    .button.cancel
      cancel

  #quick-offset.offset-form
    #home-month.quick.button{:value=>20, :title=>"Home Energy, 1 mo"} Avg US Home Energy, 1mo
    #home-year.quick.button{:value=>240, :title=>"Home Energy, 1 yr"} Avg US Home Energy, 1yr
    #commute-month.quick.button{:value=>10, :title=>"Car Commute, 1 mo"} Avg US Car Commute, 1mo
    #commute-year.quick.button{:value=>120, :title=>"Car Commute, 1 yr"} Avg US Car Commute, 1yr


  #cart
    #offsets
    %hr
    #total-cost
    #total-weight
    #checkout.button
      checkout
    .new-offset.button
      new offset
    %form{:action => "http://fingerlakesclimatefund.org/process-cart-temp.php", :method => "post", :id=>"submit-cart"}
      %input{:name => "label", :type => "hidden", :value => ""}
      %input{:name => "weight", :type => "hidden", :value => ""}
      %input{:name => "cost", :type => "hidden", :value => ""}
