#calculator
  %h2 calculator
  #offset-buttons
    #air-travel-button.button
      air travel

  #air-travel-offset.offset-form
    %input{:placeholder => "total miles"}
    %hr
    %input{:placeholder => "starting location"}
    %input{:placeholder => "end location"}
    #calculate-offset.button
      calculate offset
    .button.cancel
      cancel

  #cart
    #checkout.button
      checkout
    .new-offset.button
      new offset