.row

  .large-12.columns
    .panel
      %h4 Get in touch!
      .row
        .large-9.columns
          %p Comments, questions, problems or ideas?  Send us an email!
        .large-3.columns
          %a.radius.button.right{:href => "#"} Contact Us
%footer.row
  .large-12.columns
    .row
      .large-6.columns
        %p © Sustainable Tompkins
      .large-6.columns
        %p Carbon offsets are deductible through Social Ventures 501(c)3
