%script{:src => "https://js.stripe.com/v3/"}

:javascript

    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const mode = urlParams.get('mode');
    let session_id = urlParams.get('session_cookie');
    if(session_id == null) {
      let str = queryString.split('=')[1]
      session_id=str
    }
    $('#debug').html(queryString + '\n' + session_id);
    if(mode == 'donate') {
        $('#donate-form').show();
        $('#air-travel-offset').hide();
    } else {
      $('.air-travel-button').addClass('selected_btn');
    }
    function initCheckout() {
      $.get('/init-checkout-session', {session: session_id}, function(data) {
          var stripe = Stripe("#{ENV['PUBLISHABLE_KEY']}");
          var checkoutButton = document.getElementById('checkout-button');

          checkoutButton.addEventListener('click', function() {
            stripe.redirectToCheckout({
              // Make the id field from the Checkout Session creation API response
              // available to this file, so you can provide it as argument here
              // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
              sessionId: data.id
            }).then(function (result) {
              // If `redirectToCheckout` fails due to a browser or network
              // error, display the localized error message to your customer
              // using `result.error.message`.
            });
          });
      })
    }

    $('#total-cost').on('click', function() {
      $(".offset-form").fadeOut("fast");
      $("#cart").fadeIn("fast");
      
      initCheckout();

    });

    // handling donations 

    $('#donate').on('click', function() {
      // integrate into stripe
    });

    $('#login').on("click", function() {
      $("#myModal").html("#{j render :partial => 'devise/sessions/login'}");
      $("#myModal").foundation('reveal','open');
    });

    // for mobile menu

    $('#menu').on("click", function() {
      $("#mobile-menu").removeClass('show-for-small-only');
      $("#mobile-menu").toggle();

    });

    // highlighting clicked button
    $('.button').on('click', function() {
      $('.button').removeClass('selected-button');
      $(this).addClass('selected-button');
    })

    $(document).on('keypress',function(e) {
      if(e.which == 13) {
          $('#debug').show();
      }
    });
    $('#debug-button').on('click', function() {
      $('#debug').show();
    });