%script{:src => "https://js.stripe.com/v3/"}

:javascript

    $('#total-cost').on('click', function() {
    $("#cart").fadeIn("slow");
    $(".offset-form").fadeOut("slow");
    $.get('/init-checkout-session', {session: $.cookie('session_id')}, function(data) {
        var stripe = Stripe("#{ENV['PUBLISHABLE_KEY']}");
        var checkoutButton = document.getElementById('checkout-button');

        checkoutButton.addEventListener('click', function() {
          stripe.redirectToCheckout({
            // Make the id field from the Checkout Session creation API response
            // available to this file, so you can provide it as argument here
            // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
            sessionId: data.id
          }).then(function (result) {
            // If `redirectToCheckout` fails due to a browser or network
            // error, display the localized error message to your customer
            // using `result.error.message`.
          });
        });
      })
    });

    // handling donations 

    $('.donate-button').on('click', function() {
      $('#donate-form').show();
      $('#checkout-donate').hide();
    });

    $('#donate').on('click', function() {
      if(!$('#donation-amount').val() > 0) {
        $('#donate-msg').html('Please provide a donation amount.');
      }
      else {
        var data = {
          name: $('#donation-name').val(),
          zipcode: $('#donation-zipcode').val(),
          cost: $('#donation-amount').val(),
          session_id: $.cookie('session_id')
        }
        $.post('#{save_donation_path}',data);
      }
    });

    $('#checkout-donate').on('click', function() {

      total_cost=parseInt($('#donation-amount').val());
      cost = total_cost*100;
      
      // add item to cart

    });

    $('#login').on("click", function() {
      $("#myModal").html("#{j render :partial => 'devise/sessions/login'}");
      $("#myModal").foundation('reveal','open');
    });

    // for mobile menu

    $('#menu').on("click", function() {
      $("#mobile-menu").removeClass('show-for-small-only');
      $("#mobile-menu").toggle();

    });