.row

  .large-12.columns
    .panel
      %h4 Get in touch!
      .row
        .large-9.columns
          %p Comments, questions, problems or ideas?  Send us an email!
        .large-3.columns
          %a.radius.button.right{:href => "#"} Contact Us
%footer.row
  .large-12.columns
    .row
      .large-6.columns
        -if user_signed_in?
          %li
            = link_to "Log out", destroy_session_path(:user), :method => :delete
        %p © Sustainable Tompkins
      .large-6.columns
        %p Carbon offsets are deductible through Social Ventures 501(c)3
#myModal.reveal-modal{"data-reveal" => ""}
  %h2 OK, ready for checkout.
  %p Just a quick question first:  Would you like to proceed as a guest, or login to your FLCF account.  Using a FLCF account will allow you to save and reuse your offsets.
  %button.checkout-without-login hey
  %button.show-login yop
  %a.close-reveal-modal ×


:javascript
  $('.show-login').on("click", function() {
    $("#myModal").html("#{j render :partial => 'devise/sessions/login'}")
  });


-if current_user
  -if current_user.session_id
    #login-status{:value=>current_user.email}
    #user-offsets.reveal-modal{"data-reveal" => ""}
      %h3 Your account has been created
      %p Ok, let's get back to offsetting you carbon use.
      =render :partial => 'offsets/offset', :collection => current_user.offsets.where(:purchased=>:false), :as => :offset
      %p you will be taken to our parent site, sustainabletompkins.org, to complete payment
      %button.checkout pay for offsets

      %a.close-reveal-modal ×

    :javascript
      $(document).on("ready", function() {
        $('#user-offsets').foundation('reveal', 'open');
      });
-else
  #login-status{:value=>"guest"}
