%nav.tab-bar
  %section.left.tab-bar-section
    %h1.title Finger Lakes Climate Find
  %section.right-small
    %a.right-off-canvas-toggle.menu-icon{:href => "#"}
      %span
%aside.right-off-canvas-menu
  %ul.off-canvas-list
    %li
      %label Menu
    %li
      =link_to "About Us", pages_path("about")



