.contain-to-grid.fixed
  =render :partial => 'layouts/head_calc'

.row.show-for-small-only
  #mobile-menu
    .large-12.columns{:style=>"background-color: #006893;padding: 0px;"}
      .mobile-menu
        =link_to "Home", root_path, :class => 'show-for-medium-up'
      .mobile-menu
        =link_to "How Carbon Offsets Help Others", pages_path("portfolio")

      .mobile-menu
        =link_to "Carbon Races", pages_path("carbon-races")
      .mobile-menu
        =link_to "Business/Event Offsets", pages_path("business-events-offsets")
      .mobile-menu
        =link_to "Reduce Your Emissions", pages_path("reduce-emissions")
      .mobile-menu
        =link_to "FAQ", pages_path("faq")
      .mobile-menu
        =link_to "About Us", pages_path("about"), :class => 'show-for-medium-up'
      .mobile-menu
        =link_to "Make Donation", '#', :id=>'donate-button',:class=>'donate-button'
.row.with-border{:style => "padding:0px;margin-top: 45px;"}
  .large-12.columns{:style=>"background-color: #006893;padding: 0px;"}
    #banner
      =link_to root_path do
        =image_tag('carbon-offset-banner-1100.png')
    #facebook
      =link_to "https://www.facebook.com/climatefund?ref=ts", :class=>"social" do
        %i.fi-social-facebook

=render :partial => 'shared/menu_bar'




