.off-canvas-wrap
  .inner-wrap
    %nav.tab-bar.hide-for-medium-up
      %section.left-small
        %a.left-off-canvas-toggle.menu-icon
          %span
      %section.middle.tab-bar-section
        %h2.title
          %a{:href => "/"} Finger Lakes Climate Fund
    %aside.left-off-canvas-menu
      %ul.off-canvas-list
        %li=link_to "About", pages_path("about")

        %li
          %a{:href => "/about"} About
        %li
          %a.button{:href => "/updates"} Updates
    %section.main-section
      / add topbar, hide for small
      .sticky{"data-options" => "sticky_on: large"}
        %nav.top-bar.hide-for-small{"data-topbar" => ""}
          %ul.title-area
            %li.name
              %h1
                %a{:href => "/"}
                  =image_tag('logo.png')
            %li.toggle-topbar.menu-icon
              %a{:href => "#"} Menu
          %section.top-bar-section
            %ul.right

              %li=link_to "About", "#", :class=>'about-page'
              %li=link_to "Project Portfolio","#", :class =>'portfolio-page'
              %li=link_to "FAQ","#", :class=>'faq-page'
              %li=link_to "Resources","#", :class=>'resources-page'
              %li
                #checkout.button.checkout{:style => "margin-right: 6px;"}
                  %i.fi-shopping-cart
                  checkout
