.row.topbar
  .large-12.columns{:style => "padding:0px;position:relative;"}
    #calculator-buttons
      #home
        =link_to root_path do
          %i.fi-home
      #login.show-for-medium-up.show-login
        -if user_signed_in?
          %i.fi-door
        -else
          %i.fi-torso-female
      #menu.show-for-small-only
        %i.fi-list

      #offset-buttons
        .hide-for-small
          #air-travel-button.air-travel-button.button.blue-header-button
            =image_tag('plane.png', :size=>'30x30')
            air travel

          #car-travel-button.button.car-travel-button.green-header-button
            =image_tag('car.png', :size=>'30x30')
            car travel

          #home-energy-button.home-energy-button.button.yellow-header-button
            =image_tag('house.png', :size=>'30x30')
            building energy

          #quick-button.quick-button.button.purple-header-button
            =image_tag('quick.png', :size=>'30x30')
            quick offset
          #total-cost.button.purple-header-button.checkout
            %i.fi-shopping-cart
            checkout
        .hide-for-medium-up
          #air-travel-button.air-travel-button.button.blue-header-button
            =image_tag('plane.png', :size=>'30x30')


          #car-travel-button.button.car-travel-button.green-header-button
            =image_tag('car.png', :size=>'30x30')


          #home-energy-button.home-energy-button.button.yellow-header-button
            =image_tag('house.png', :size=>'30x30')

          #quick-button.quick-button.button.purple-header-button.quick-button
            =image_tag('quick.png', :size=>'30x30')



          #total-cost.button.purple-header-button.checkout
            %i.fi-shopping-cart
            checkout


      #calculator
        #offset-choices.offset-form
          %p What would you like to offset?
          .air-travel-button.button
            =image_tag('plane.png', :size=>'30x30')
            air travel

          .car-travel-button.button
            =image_tag('car.png', :size=>'30x30')
            car travel

          .home-energy-button.button
            =image_tag('house.png', :size=>'30x30')
            building energy

          .quick-button.button
            =image_tag('quick.png', :size=>'30x30')
            quick offset

          -if user_signed_in?
            #saved-button.button
              =image_tag('disk.png', :size=>'30x30')
              saved offsets
              %i.fi-arrow-right.arrow
        #air-travel-offset.offset-form
          %label how many travelers?
          %input.traveler-count.clearer{:type=>"number",:min => 1, :value => 1}
          %hr
          %label enter your trip mileage
          %input.clearable{:placeholder => "total miles", :id=>"air-miles"}
          %hr
          %label or, let us calculate it for you:
          %input.starting-air-city.clearer{:placeholder => "starting location"}
          %input.ending-air-city.clearer{:placeholder => "end location"}
          %hr

          .round-trip
            %label round trip?
            %input{:checked=>:true,:type => "checkbox"}
          #calculate-air-offset.button
            calculate offset
          .button.cancel
            cancel

        #car-travel-offset.offset-form
          %label enter your trip mileage
          %input.clearable{:placeholder => "total miles", :id=>"car-miles"}
          %hr
          %label or, let us calculate it for you:
          %input.starting-car-city.clearer{:placeholder => "starting location"}
          %input.ending-car-city.clearer{:placeholder => "end location"}
          %hr
          %label car mpg (optional)
          %input{:value => "25", :id => "mpg"}
          .round-trip
            %label round trip?
            %input{:checked=>:true,:type => "checkbox"}
          %hr
          #calculate-car-offset.button
            calculate offset
          .button.cancel
            cancel

        #home-energy-offset.offset-form
          %p enter your energy use
          %input.clearable{:id=>"propane",:placeholder => "propane (gallons)"}
          %input.clearable{:id=>"natural-gas",:placeholder => "natural gas (therms)"}
          %input.clearable{:id=>"electricity",:placeholder => "electricity (kWh)"}
          %input.clearable{:id=>"fuel-oil",:placeholder => "fuel oil (gallons)"}
          #calculate-home-offset.button
            calculate offset
          .button.cancel
            cancel

        #quick-offset.offset-form
          %p choose a quick offset
          #home-month.quick.button{:value=>1240, :title=>"Home Energy, 1 mo"} Avg NY Home Energy, 1mo
          #home-year.quick.button{:value=>14962, :title=>"Home Energy, 1 yr"} Avg NY Home Energy, 1yr
          #commute-month.quick.button{:value=>722, :title=>"Car Commute, 1 mo"} Avg US Car Commute, 1mo
          #commute-year.quick.button{:value=>8660, :title=>"Car Commute, 1 yr"} Avg US Car Commute, 1yr
          #air-travel.quick.button{:value=>504, :title=>"Domestic Air Travel, 1 yr"} Domestic Air Travel, 1 trip
          #air-travel.quick.button{:value=>1268, :title=>"International Air Travel, 1 yr"} International Air Travel, 1 trip
          %p
          .button.cancel
            cancel
        #cart

          #offsets
          %hr
          -if user_signed_in?
            %button#stripe.button
              %i.fi-shopping-cart
              checkout
          -else
            .checkout.button
              %i.fi-shopping-cart
              checkout

          .new-offset.button
            %i.fi-plus
            new offset
        -if user_signed_in?
          #saved-offsets.offset-form
            =render :partial => 'offsets/saved', :collection => @saved_offsets, :as=>:offset
            .button.cancel
              cancel
          %form{:action => "http://fingerlakesclimatefund.org/process-cart-temp.php", :method => "post", :id=>"submit-cart"}
            %input{:name => "label", :type => "hidden", :value => ""}
            %input{:name => "weight", :type => "hidden", :value => ""}
            %input{:name => "cost", :type => "hidden", :value => ""}