%nav.top-bar{"data-topbar" => "", :role => "navigation"}
  %ul.title-area
    %li.name
      %h1
        %a{:href => "#"}
          %i.fi-play
          Good Luck
    / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu
  %section.top-bar-section
    / Right Nav Section
    %ul.right
      %li
        .icon-bar.three-up{:style=>"display:block"}
          %a.item
            %i.fi-play
          %a.item
            %i.fi-crown
          %a.item
            %i.fi-torso-female
      %li.has-dropdown
        %a{:href => "#"} Username
        %ul.dropdown
          %li
            %a{:href => "#"} Account Settings
          %li.active
            %a{:href => "#"} Logout


